<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Fiche producteur</strong>
  </p>
  <p>
    <ul>
      <li>
        Voilà la fiche pour le producteur <strong><%= @estate.name %></strong>
      </li>
      <li>
        A gauche des informations sur le producteur (adresse, site internet, contacts)
      </li>
      <li>
        A droite, la liste des vins connus pour ce producteur.
      </li>
      <li>
        Vous pouvez par exemple faire les actions suivantes :
        <ul>
          <li>
            <strong><%= content_tag(:i, "", class: "icon-eye-open") + t('icon.show') %></strong> vous permet d'avoir plus d'informations sur le vin.
          </li>
          <li>
            <strong><%= content_tag(:i, "", class: "icon-tastings") + t('icon.wine_tastings') %></strong> vous permet de voir ce que pensent les autres utilisateurs de ce vin.
          </li>
          <li>
            <strong><%= content_tag(:i, "", class: "icon-taste") + t('icon.taste') %></strong> vous permet de donner vos impressions après avoir goûter un vin.
          </li>
          <li>
            <strong><%= content_tag(:i, "", class: "icon-encave") + t('icon.encave') %></strong> vous permet d'enregistrez sur Vinosus un vin que vous possédez. Vous
          </li>
        </ul>
      </li>
      <li>
        Les pastilles de couleur, par exemple <%= wine_color_image @estate.wines.first %>, indique le type de vin (blanc, rouge, ...). Passez la souris sur les pastilles pour mieux les comprendre.
      </li>
      <li>
        Vous ne trouvez pas le vin que vous cherchez ? <strong><%= t("estate.suggest_wine") %></strong>, qui sera par la suite contrôlée par nos modérateurs.
      </li>
      <li>
        Retrouvez les vins que vous possédez ou que vous avez dégusté dans le menu <strong><%= t('menu.track.title') %></strong>
      </li>
    </ul>
  </p>
</div>
