<% set_meta_tags :title => t("menu.discover.grape_varieties") + " > " + @grape_variety.name,
                 :description => t('grape_varieties.wines', count: @wines.count) %>

<div class="white-opacity rounded-top">
  <h1><%= @grape_variety.name %></h1>
  
  <div class="row-fluid">
    <div class="span6">
      <h2><%= t('grape_varieties.areas.main') %></h2>
      <table class="table table-condensed">
        <% @grape_variety.areas[:main].each do |area, colors| %>
          <tr>
            <td><%=raw colors.map {|color| wine_color_icon color}.join %></td>
            <td><%= full_area_name(area, html: true) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="span6">
      <h2><%= t('grape_varieties.areas.second') %></h2>
      <table class="table table-condensed">
        <% @grape_variety.areas[:second].each do |area, colors| %>
          <tr>
            <td><%=raw colors.map {|color| wine_color_icon color}.join %></td>
            <td><%= full_area_name(area, html: true) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  
  <br />
  
  <h2><%= t('grape_varieties.wines_list') %></h2>
  <table class="table table-condensed middle">
    <% @wines.each do |wine| %>
      <%= wine_name wine, color: true, estate: true, area:true, html: true, links: true, label: true %>
    <% end %>
  </table>
</div>
