<div class="container white-opacity rounded">
  <h1><%= t("glossary.glossary")%></h1>
  
  <div clas="row-fluid">
    
    <div class="span8">
      <% if @letters %>
        <div class="pagination pagination-centered">
          <ul>
            <% ('A'..'Z').each do |l| %>
              <% if @letters.include? l %>
                <li><%= link_to l, glossaries_path(l: l) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      
        <div>
          <%= render @glossaries %>
        </div>
    </div>
    
    <div class="span3">
      <br />
      <br />
      <%= form_tag glossaries_path, method: 'get' do %>
        <%= text_field_tag :q, @searched %>
        <%= submit_tag t("glossary.search"), class: "btn btn-primary" %>
        <%= link_to t("glossary.all"), glossaries_path, class: "btn btn-primary" %>
      <% end %>
      
      <% if can? :create, Glossary %>
        <%= content_tag(:a, content_tag(:i, "", class: "icon-plus") + ' ' + t('glossary.new'), :href => new_glossary_path) %>
      <% end %>
    </div>

  </div>
</div>