<% provide(:title, t("vintages.table")) %>

<div class="white-opacity rounded">
  <h3><%= t('vintages.table') %></h3>
  <br />
  <table class="dataTable">
    <thead>
      <tr>
        <th></th>
        <%=raw @areas.map {|area| "<th class=\"raty\">#{area}</th>"}.join('') %>
      </tr>
    </thead>
    <tbody>
    <% @vintages.each do |year, areas| %>
      <tr>
        <td><%= year %></td>
        <% @areas.each do |area| %>
          <% if areas.keys.include? area %>
            <td style="min-width:100px"><span class="vintage_note" data-score="<%= areas[area][:note] %>"></span></td>
          <% else %>
            <td style="min-width:100px"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br />
</div>

<% unless @current_user_vintages.nil? or @current_user_vintages.empty?%>
  <br />
  <div class="white-opacity rounded">
    <h3><%= t('vintages.yours') %></h3>
    <br />
    <table class="dataTable">
      <thead>
        <tr>
          <th></th>
          <%=raw @areas.map {|area| "<th class=\"raty\">#{area}</th>"}.join('') %>
        </tr>
      </thead>
      <tbody>
      <% @current_user_vintages.each do |year, areas| %>
        <tr>
          <td><%= year %></td>
          <% @areas.each do |area| %>
            <% if areas.keys.include? area %>
              <td style="min-width:100px"><span class="vintage_note" data-score="<%= areas[area][:note] %>"></span></td>
            <% else %>
              <td style="min-width:100px"></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br />
  </div>
<% end %>

<% if can? :rate, Vintage %>
<br />
<div class="white-opacity rounded">
  <h3><%= t('vintages.rate') %></h3>
  <%= form_for(Vintage.new, url: rate_vintages_path, html: { class:'form-inline'}) do |f| %>
    <%= f.select :area, options_for_select(Vintage::AREAS) %>
    <%= f.select :year, options_for_select((1900..(Time.now.year)).to_a.reverse) %>
    <span id="vintage_note"></span>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
