<div class="well" id="<%= bottle.id %>">
  <table class="table table-condensed table-striped">
    <tr>
      <td></td>
      <td><%= link_to_show bottle_path(bottle) %></td>
    </tr>
    <% bottle.positions_in(@wine_rack).each do |p| %>
      <tr>
        <td><%= p.coord %></td>
        <td><%= link_to_consume new_consumption_path(:bottle => p.bottle, :wine_rack_position_id => p.id) %></td>
        <td><%= link_to_unplace p.bottle, p.id %></td>
      </tr>
    <% end %>
  </table>
</div>

