
<table>
  <tr>
    <%= total_column == 0 ? 'Avant' : 'Arrière' %>
  </tr>
  <% (0..(rows - 1)).each do |row| %>
    <% shorten_row = !(rows - row + total_column).even? %> 
    <tr>
      <td>
        <%= row %>.&nbsp;
      </td>
      <% (0..(columns - (shorten_row ? 2 : 1))).each do |column| %>
        <% position = compartment[row][column] %>
        <% if position %>
          <td id="<%= "bottle_img_#{letter}_#{row}_#{column}" %>">
          <%= link_to wine_color_image(position.bottle.wine, false, (shorten_row ? '7' : '0')), bottle_path(position.bottle) %>
        <% else %>
          <td>
          <%= no_wine_color_image (shorten_row ? '7' : '0') %>
        <% end %> 
        </td>
      <% end %>
    </tr>
  <% end %>
</table>