
<table>
  <tr>
    <td>
      <%= letter %>
    </td>
    <% (0..(columns - 1)).each do |column| %>
      <td>
      	<%= column %>
      </td>
    <% end %>
  </tr>
  <% (0..(rows - 1)).each do |row| %>
    <tr align="middle">
      <td>
        <%= row %>
      </td>
      <% (0..(columns - 1)).each do |column| %>
        <td>
          <% position = compartment[row][column] %>
          <% if position %>
            <%= link_to wine_color_image(position.bottle.wine, false), bottle_path(position.bottle) %>
          <% else %>
            <%= no_wine_color_image %>
          <% end %> 
        </td>
      <% end %>
    </tr>
  <% end %>
</table>