

      <% (0..(rows - 1)).each do |row| %>
        <% (0..(columns - 1)).each do |column| %>
          <% position = compartment[row][column] %>
          <% if position %>
            <tr>
              <td><%= letter %></td>
          	  <td><%= row %></td>
          	  <td><%= column %></td>
          	  <td><%= bottle_name position.bottle, html: true %></td>
              <td>
              	<div class="btn-group">
                  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                  	Action
                  	<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <%= link_to_show bottle_path(position.bottle) %>
                    <%= link_to_consume consume_bottle_path(position.bottle, wine_rack_position_id: position.id) %>
                    <%= link_to_edit edit_bottle_path(position.bottle) %>
                  </ul>
              	</div>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>