
<table>
  <tr>
    <td>
      <%= letter %>
    </td>
    <% (0..(columns - 1)).each do |column| %>
      <td>
      	<%= column %>
      </td>
    <% end %>
  </tr>
  <% (0..(rows - 1)).each do |row| %>
    <tr align="middle">
      <td>
        <%= row %>
      </td>
      <% (0..(columns - 1)).each do |column| %>
        <% position = compartment[row][column] %>
        <% if position %>
          <td id="<%= "bottle_img_#{letter}_#{row}_#{column}" %>">
          <%= link_to wine_color_image(position.bottle.wine, false), bottle_path(position.bottle) %>
        <% else %>
          <td>
          <%= no_wine_color_image %>
        <% end %> 
        </td>
      <% end %>
    </tr>
  <% end %>
</table>