<tr id="<%= bottle.id %>">
  <td style="text-align:center;vertical-align:middle;"><%= quantity %></td>
  <td><%= wine_name bottle.wine, estate: true, html: true, separator: '<br/>' %></td>
  <td><%= full_area_name bottle.wine.area, html: true, separator2: raw('<br/>') %></td>
  <td style="text-align:center;vertical-align:middle;"><%= wine_color_image bottle.wine %></td>
  <td style="text-align:center;vertical-align:middle;"><%= bottle.vintage %></td>
  <td style="text-align:center;vertical-align:middle;"><%= bottle.price %> €</td>
</tr>
