<% provide(:title, t("menu.track.my_racks")) %>

<h1><%= t("menu.track.my_racks") %></h1>

<table class="table table-condensed table-striped">
  <% @wine_racks.each do |r| %>
    <tr>
      <td><%= link_to r.name, r %></td>
      <td><%= t 'wine_rack.content_and_capacity', content: r.content, capacity: r.capacity %></td>
      <td class="span5">
      	<div class="progress progress-info">
          <div class="bar" style="width: <%= 100*r.content/r.capacity %>%;"></div>
      	</div>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to t('wine_rack.new'), new_wine_rack_path %>
