<% provide(:title, @wine_rack.name) %>

<h1><%= @wine_rack.name %></h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">

<table>
  <% (0..(@wine_rack.total_rows - 1)).each do |total_row| %>
    <tr>
      <% (0..(@wine_rack.total_columns - 1)).each do |total_column| %>
        <td>
          <% letter = compartment_letter(@wine_rack, total_row, total_column) %>
          <%= render :partial => "#{@wine_rack.layout}_compartment_graphical", :locals =>  { :compartment => @positions[total_row][total_column], :letter => letter, :rows => @wine_rack.rows, :columns => @wine_rack.columns} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

  </div>

  <div class="span8">
    <table class="table table-condensed table-striped">
      <thead>
      	<tr>
      	  <th><%= t 'wine_rack.compartment' %></th>
      	  <th><%= t 'wine_rack.row' %></th>
      	  <th><%= t 'wine_rack.column' %></th>
      	  <th><%= t 'wine_rack.bottle' %></th>
      	</tr>
      </thead>
      <tbody>
        <% (0..(@wine_rack.total_rows - 1)).each do |total_row| %>
            <% (0..(@wine_rack.total_columns - 1)).each do |total_column| %>
                <% letter = compartment_letter(@wine_rack, total_row, total_column) %>
                <%= render :partial => "#{@wine_rack.layout}_compartment_table", :locals =>  { :compartment => @positions[total_row][total_column], :letter => letter, :rows => @wine_rack.rows, :columns => @wine_rack.columns} %>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>