<% provide(:title, @wine_rack.name) %>

<div class="white-opacity rounded-top">
  <h1><%= @wine_rack.name %></h1>
  
  <% if @highlight %>
    <input type="hidden" id="highlight" value="<%= @highlight %>" />
  <% end %>
  
  <p>
    Cliquez sur une bouteille dans la vue graphique ou le tableau pour la sélectionner.<br />
    Cliquez à nouveau sur la même bouteille pour revenir à l'affichage complet.
  </p>
  
  <div class="row-fluid">
    
    <div class="span4">

      <table border="solid" id="graphical">
        <% (0..(@wine_rack.total_rows - 1)).each do |total_row| %>
          <tr>
            <% (0..(@wine_rack.total_columns - 1)).each do |total_column| %>
            <% letter = compartment_letter(@wine_rack, total_row, total_column) %>
            <td><%= render :partial => "wine_racks/show/#{@wine_rack.layout}", :locals =>  { :compartment => @positions[total_row][total_column], :total_row => total_row, :total_column => total_column, :letter => letter, :rows => @wine_rack.rows, :columns => @wine_rack.columns} %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <br />
      <% if @wine_rack.content > 0 %>
        <%= link_to t('wine_rack.empty'), empty_wine_rack_path(@wine_rack), confirm: t('wine_rack.empty_confirm'), method: :post, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to t('wine_rack.destroy'), @wine_rack, confirm: t('wine_rack.destroy_confirm'), method: :delete, class: 'btn btn-primary' %>
      <% end %>
      <%= link_to t('wine_rack.rename'), edit_wine_rack_path(@wine_rack), class: 'btn btn-primary' %>
    </div>
  
    <div class="span8">
      <% if @wine_rack.content == 0 %>
        <div class="alert alert-error"><%= raw t('wine_rack.rack_is_empty', my_bottles: link_to(raw('<i class="icon-list"></i> ') + t("menu.track.my_bottles"), bottles_path)) %></div>
      <% else %>
        <table class="table table-condensed" id="list">
          <tbody>
            <% @bottles.each do |p| %>
              <%= render :partial => "table_row", :locals =>  { :bottle => p.bottle, :quantity => p.quantity} %>
            <% end %>
          </tbody>
        </table>
        <% @bottles.each do |p| %>
          <%= render :partial => "actions", :locals =>  { :bottle => p.bottle} %>
        <% end %>
      <% end %>
    </div>
    
  </div>
  
</div>
