<% provide(:title, t("menu.discover.wines_estates")) %>

<% if notice %>
  <div class="well well-small"><%= notice %></div>
<% end %>

<% if @replaced_estate %>
  <div class="alert alert-error center"><strong>Replacement du producteur <%= "'#{@replaced_estate.name}' (id:#{@replaced_estate.id})" %></strong></div>
<% end %>
<% if @replaced_wine %>
  <div class="alert alert-error center"><strong>Replacement du vin <%= "'#{@replaced_wine.estate.name} - #{@replaced_wine.name}' (id:#{@replaced_wine.id})" %></strong></div>
<% end %>

<%= form_tag search_wines_and_estates_path, method: 'get', class: 'form-search form-inline center' do %>
  <%= hidden_field_tag 'replaced_estate', @replaced_estate.id if @replaced_estate %>
  <%= hidden_field_tag 'replaced_wine', @replaced_wine.id if @replaced_wine %>
  <%= text_field_tag :q, @searched, class: 'search-query' %>
  <%= select_tag "scope", options_for_select([['Producteurs et vins', 'both'], ['Vins uniquement', 'wine'], ['Producteurs uniquement', 'estate']], :selected => params[:scope]), class: (@searched ? 'load_visible' : 'load_hidden') %>
  <%= grouped_collection_select :region, :id, @countries, :regions, :name, :id, :name, options = { prompt: t('helpers.label.wine.select_country_and_region')}, html_options = {selected: @region_name, class: (params[:scope] == 'wine' ? 'load_visible' : 'load_hidden')} %>
  <%= select_tag :area_id, options_for_select(@areas.map{|a| [a.name, a.id]}, :selected => @area_id), options = { prompt: t('helpers.label.wine.select_area'), class: (@area ? 'load_visible' : 'load_hidden') } %>
  <%= submit_tag t("wines_and_estates.search"), class: "btn btn-primary" %>
<% end %>

<br />

<% if @display_estate %>
  <h3><%= @searched.nil? ? t("estate.random") : t("estate.matching") %></h3>
  <p>
    <%= paginate @estates, :param_name => "estate_page" unless @searched.nil? %>
    <% if @estates.empty? %>
      <%= t("estate.no_matching") %><br />
    <% else %>
      <table class="table table-striped table-condensed">
        <%= render @estates %>
      </table>
    <% end %>
    <%= link_to t("estate.suggest"), new_estate_path %>
  </p>
  
  <br />
<% end %>

<% if @display_wine %>
  <h3><%= @searched.nil? ? t("wine.random") : t("wine.matching") %></h3>
    <%= paginate @wines, :param_name => "wine_page" unless @searched.nil? %>
    <% if @wines.empty? %>
      <%= t("wine.no_matching") %><br />
    <% else %>
    <table class="table table-striped table-condensed">
      <%= render @wines %>
    </table>
  <% end %>
<% end %>