<div class="span8 offset2 white-opacity rounded">
  <h1><%= @conversation.subject %></h1>

  <strong><%= t('conversation.participants') %>:</strong>
  <%= raw (@conversation.recipients.map {|user| link_to user.name, user}).join(', ') %>
  <br/><br/>

  <% @receipts.each do |receipt| %>
    <%= render :partial => "message", :locals => {:message => receipt.message} %>
  <% end %>

  <%= form_tag conversation_path(@conversation), :method => :put do %>
    <div class="well center">
      <%= text_area_tag :body, nil, :rows => 5, :class => 'span5' %>
      <br/>
      <%= submit_tag t('conversation.reply'), :name => :reply_all, :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="well center">
    <%= button_to_destroy @conversation %>
  </div>
</div>
