<tr id="bottle">
  <input type="hidden" value="<%= bottle_path(bottle) %>" />
  <td id="wine_<%= bottle.id %>" style="vertical-align:middle;">
  	<%= wine_name bottle.wine, estate: true, area: false, html: true, separator: raw('<br />') %> 
  </td>
  <td id="area_<%= bottle.id %>" style="vertical-align:middle;">
  	<%= full_area_name bottle.wine.area, html: true, separator2: raw('<br />') %>
  </td>
  <td id="color_<%= bottle.id %>" style="text-align:center;vertical-align:middle;">
    <%= wine_color_image bottle.wine %>
  </td>
  <td id="vintage_<%= bottle.id %>" style="text-align:center;vertical-align:middle;">
    <span><%= formated_vintage(bottle.vintage) %></span>
  </td>
  <td id="remaining_<%= bottle.id %>" style="text-align:center;vertical-align:middle;">
  	<span><%= bottle.quantity %></span> (<%= bottle.volume %>)
  </td>
  <td id="price_<%= bottle.id %>" style="text-align:center;vertical-align:middle;">
  	<span id="raw" style="visibility: hidden;position: absolute;"><%= bottle.price%></span><span><%= formated_price(bottle.price) %></span>
  </td>
</tr>