<li>
  <%= bottle.quantity %>x 
  <%= wine_name bottle.wine, estate: true, area: true, html: true %> 
  <%= bottle.vintage%> 
  - <%= link_to_show bottle_path(bottle) %>
  <%= link_to_edit edit_bottle_path(bottle) %>
</li>