<h2><%= wine_name(@wine, estate: true, area: true) %></h2>

<%= form_for(@bottle, html: { class:'form-horizontal'}) do |f| %>
  <div class="row">
    <div class="span6 offset3">

      <%= f.hidden_field :wine_id, value: @wine.id %>
	
	  <div class="control-group">
        <%= f.label :vintage, :class => 'control-label' %>
	    <div class="controls">
          <%= select_vintage f %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <% volumes = ['20 cl', '25 cl', '37.5 cl', '50 cl', '62 cl', '62.5 cl', '75 cl', '1 l', '1.5 l', '3 l', '4.5 l', '5 l', '6 l', '9 l', '12 l', '15 l', '18 l'] %>
        <%= f.label :volume, :class => 'control-label' %>
	    <div class="controls">
          <%= select_tag 'bottle[volume]', options_for_select(volumes, :selected => (@bottle.volume ? @bottle.volume : '75 cl')) %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <%= f.label :initial_quantity, :class => 'control-label' %>
	    <div class="controls">
          <%= f.number_field :initial_quantity %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <%= f.label :date, :class => 'control-label' %>
	    <div class="controls">
          <%= f.date_select :date, {:order => [:day, :month, :year]}, {class: "date"} %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <% channels = ['gift', 'producer'].map {|c| [t(c, scope: 'bottles.channels'), c]}%>
        <%= f.label :channel, :class => 'control-label' %>
	    <div class="controls">
          <%= select_tag 'bottle[channel]', options_for_select(channels, :selected => (@bottle.channel ? @bottle.channel : 'producer')) %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <%= f.label :price, :class => 'control-label' %>
	    <div class="controls">
          <%= f.text_field :price, value: (@bottle.price ? @bottle.price : '0') %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <%= f.label :comments, :class => 'control-label' %>
	    <div class="controls">
          <%= f.text_field :comments %>
	    </div>
	  </div>
    </div>
  </div>
  <div class="row">	
    <div class="span6 offset3 center">
      <%= f.submit class: "btn btn-primary span6" %>
    </div>
  </div>
<% end %>