<h2><%= wine_name(@wine, estate: true, area: true) %></h2>

<%= form_for(@bottle, html: { class:'form-horizontal'}) do |f| %>
  <%= f.hidden_field :wine_id, value: @wine.id %>
  <div class="row-fluid">
    
    <div class="span6">
      <div class="control-group">
        <%= f.label :vintage, :class => 'control-label' %>
        <div class="controls">
          <%= select_vintage f, @bottle.vintage %>
        </div>
      </div>
      
      <div class="control-group">
        <% volumes = ['20 cl', '25 cl', '37.5 cl', '50 cl', '62 cl', '62.5 cl', '75 cl', '1 l', '1.5 l', '3 l', '4.5 l', '5 l', '6 l', '9 l', '12 l', '15 l', '18 l'] %>
        <%= f.label :volume, :class => 'control-label' %>
        <div class="controls">
          <%= select_tag 'bottle[volume]', options_for_select(volumes, :selected => (@bottle.volume ? @bottle.volume : '75 cl')) %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :initial_quantity, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :initial_quantity, autocomplete: 'off' %>
        </div>
      </div>
      
      <% drink_hints = @wine.drink_hint %>
      <div class="control-group">
        <%= f.label t('helpers.label.bottle.drink'), :class => 'control-label' %>
        <div class="controls">
          <% min = f.number_field(:drink_min, autocomplete: 'off', class: 'input-micro') %>
          <% max = f.number_field(:drink_max, autocomplete: 'off', class: 'input-micro') %>
          <%= raw t('helpers.label.bottle.drink_inputs', min: min, max: max) %>
          <% if drink_hints[:based_on] > 0 %>
            <% title = t('helpers.label.bottle.hint_title', count: drink_hints[:based_on]) %>
            <% hint = t('helpers.label.bottle.drink_inputs', min: drink_hints[:min], max: drink_hints[:max]) %>
            <a href="#" id="drink_min_max_hint" rel="popover" title="<%= title %>" data-content="<%= hint %>"><i class="icon-flag"></i></a>
          <% end %>
          <br />
          <% min = '<span id="drink_min_result">-</span>' %>
          <% max = '<span id="drink_max_result">-</span>' %>
          <%= raw t('helpers.label.bottle.drink_years', min: min, max: max) %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :drink_best, :class => 'control-label' %>
        <div class="controls">
          <% input = f.number_field(:drink_best, autocomplete: 'off', class: 'input-micro') %>
          <% result = '<span id="drink_best_result">-</span>' %>
          <%= raw t('helpers.label.bottle.years', input: input, result: result) %>
          <% if drink_hints[:based_on] > 0 %>
            <% title = t('helpers.label.bottle.hint_title', count: drink_hints[:based_on]) %>
            <% hint = t('helpers.label.bottle.years_only', best: drink_hints[:best]) %>
            <a href="#" id="drink_best_hint" rel="popover" title="<%= title %>" data-content="<%= hint %>"><i class="icon-flag"></i></a>
          <% end %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :comments, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :comments, :rows => 3 %>
        </div>
      </div>
    
    </div>
    
    <div class="span6">
	
  	  <div class="control-group">
        <%= f.label :date, :class => 'control-label' %>
  	    <div class="controls">
  	      <%= f.text_field :date, value: l(@bottle.date.nil? ? Date.today : @bottle.date), :locale => I18n.locale %>
  	    </div>
  	  </div>
  	
  	  <div class="control-group">
        <% channels = ['producer', 'gift', 'fair', 'exchange', 'store', 'supermarket', 'bulk_order'].map {|c| [t(c, scope: 'bottles.channels'), c]}%>
        <%= f.label :channel, :class => 'control-label' %>
  	    <div class="controls">
          <%= select_tag 'bottle[channel]', options_for_select(channels, :selected => (@bottle.channel ? @bottle.channel : 'producer')) %>
  	    </div>
  	  </div>
    
      <div class="control-group">
        <%= f.label :channel_comments, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :channel_comments %>
        </div>
      </div>
  	
  	  <div class="control-group">
        <%= f.label :price, :class => 'control-label' %>
  	    <div class="controls">
  	      <div class="input-prepend">
            <span class="add-on"><%= current_user.currency %></span><%= f.text_field :price, value: formated_price(@bottle.price ? @bottle.price : '0', form = true), autocomplete: 'off' %>
          </div>
  	    </div>
  	  </div>
    
      <div class="control-group">
        <%= f.label :current_value, :class => 'control-label' %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><%= current_user.currency %></span><%= f.text_field :current_value, value: formated_price(@bottle.current_value ? @bottle.current_value : '0', form = true), autocomplete: 'off' %>
          </div>
        </div>
      </div>
    
      <div class="control-group">
        <div class="controls">
          <%= f.submit class: "btn btn-primary span6" %>
          <div class="alert"><%= t('helpers.private') %></div>
        </div>
      </div>
      </div>
      
    </div>
  </div>
<% end %>
