<div class="white-opacity rounded-top">
<h1><%= t("bottles.my")%></h1>

<% columns = [
  { att: 'name',                displayed: true,  search_class: 'input-medium', filter: 'text_with_link' },
  { att: 'area',                displayed: true,  search_class: 'input-medium', filter: 'text_with_link' },
  { att: 'wine_color',          displayed: true,  filter: 'color'},
  { att: 'vintage',             displayed: true,  search_class: 'input-mini', filter: 'vintage' },
  { att: 'drink',               displayed: false, search_class: 'input-mini', filter: 'text' },
  { att: 'remaining_quantity',  displayed: true,  search_class: 'input-mini', filter: 'compare' },
  { att: 'price',               displayed: true,  search_class: 'input-mini', filter: 'compare' },
  { att: 'current_value',       displayed: false, search_class: 'input-mini', filter: 'compare' },
  { att: 'date',                displayed: false, search_class: 'input-mini', filter: 'text' },
  { att: 'channel',             displayed: false, search_class: 'input-mini', filter: 'text' },
  { att: 'chancomm',            displayed: false, search_class: 'input-mini', filter: 'text' },
  { att: 'comments',            displayed: false, search_class: 'input-mini', filter: 'text' },
  { att: 'grape_varieties',     displayed: false, search_class: 'input-mini', filter: 'text' }
]
%>

<input type="hidden" id="bottles_path" value="<%= bottles_path %>" />
<input type="hidden" id="not_placed_bottles_path" value="<%= not_placed_bottles_path %>" />

<% unless params[:ids] %>
  <div style="padding: 0px 20px 0px 20px;">
    <a href="#" data-toggle="collapse" data-target="#help">Aide pour la recherche</a> - 
    <%= link_to t('bottles.new'), new_bottle_path %>
     - <select id="racks">
      <option value="0">Toutes les bouteilles</option>
      <%= options_for_select(@racks.map {|r| [r.name, r.id]}, :selected => params[:wine_rack_id]) %>
      <option value="-1"<%= @not_placed ? ' selected="selected"' : '' %>>Non placées</option>
    </select>
    - <select id="maturity">
      <option value="all">Toutes les bouteilles</option>
      <%= options_for_select(['best', 'ready', 'too_soon', 'too_late'].map{|a| [t('bottles.drink.' + a), a]}, :selected => params[:maturity])%>
    </select>
    <div class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Colonnes <span class="caret"></span> </a>
      <ul class="dropdown-menu">
        <% columns.each do |c| %>
          <label class="checkbox"><input type="checkbox" id="<%= c[:att] %>_column" <%= c[:displayed] ? 'checked="checked"' : '' %>> <%= t(c[:att], scope: 'helpers.label.bottle') %></label>
        <% end %>
      </ul>
    </div>
    <div id="help" class="collapse">
      <div class="well well-small">
        Exemples de recherche pour les champs 'Millésime', 'Reste', 'Prix' et 'Cote':<br />
        <ul>
          <li>1981</li>
          <li>&lt;1981</li>
          <li>&gt;1981</li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<br />

<table class="table table-condensed">
	<thead>
	  <tr>
	    
<% columns.each do |c| %>
      <th style="text-align:center;" id="<%= c[:att] %>">
        <%= link_to content_tag(:i, "", class: "icon-chevron-up"), bottles_path(:order_attribute => c[:att], :order_sens => 'ASC') %>
        <%= t(c[:att], scope: 'helpers.label.bottle') %>&nbsp;&nbsp;&nbsp;
        <%= link_to content_tag(:i, "", class: "icon-chevron-down"), bottles_path(:order_attribute => c[:att], :order_sens => 'DESC') %>
        <% unless params[:ids] %>
          <br />
          <% if c[:att] == 'wine_color' %>
            <select id="wine_color" class="span2" <%= 'disabled' if params[:color] %>>
              <option value="">Tous</option>
              <%= options_for_select(Wine::COLORS.map {|c| [t("wine.color.#{c}"), c]}, :selected => params[:color]) %>
            </select>
          <% else %>
            <input type="text" id="<%= c[:att] %>" autocomplete='off' class="<%= c[:search_class] %>"/>
          <% end %>
        <% end %>
      </th>
<% end %>
	    
	  </tr>
	</thead>
	<tbody>
	  <%= render @bottles %>
  </tbody>
</table>
</div>
