<div class="white-opacity rounded">

<h1><%= wine_name @bottle.wine, estate: true, area: true, html: true %></h1>

<div class="row-fluid">
  <div class="span6">
	<dl class="dl-horizontal">
	  <dt><%= t("helpers.label.bottle.vintage")%></dt>
	  <dd><%= formated_vintage(@bottle.vintage, false) %></dd>
	
	  <dt><%= t("helpers.label.bottle.quantity")%></dt>
	  <dd><%= t("bottles.remaining_and_initial", :remaining => @bottle.remaining_quantity, :initial => @bottle.initial_quantity) %> (<%= @bottle.volume %>)</dd>
	
    <% min = formated_vintage(@bottle.drink_min_year, true) %>
    <% max = formated_vintage(@bottle.drink_max_year, true) %>
    <dt><%= t("helpers.label.bottle.drink")%></dt>
    <dd><%= t("helpers.label.bottle.drink_years", min: min, max: max) %></dd>
    
    <dt><%= t("helpers.label.bottle.drink_best")%></dt>
    <dd><%= formated_vintage(@bottle.drink_best_year, true) %></dd>
    
	  <dt><%= t("helpers.label.bottle.date")%></dt>
	  <dd><%= formated_date(@bottle.date) %></dd>
  
    <dt><%= t("helpers.label.bottle.channel")%></dt>
    <dd><%= t(@bottle.channel, scope: 'bottles.channels') %></dd>
  
    <dt><%= t("helpers.label.bottle.channel_comments")%></dt>
    <dd><%= @bottle.channel_comments %>&nbsp;</dd>
  
    <dt><%= t("helpers.label.bottle.price")%></dt>
    <dd><%= formated_price(@bottle.price) %></dd>
  
    <dt><%= t("helpers.label.bottle.current_value")%></dt>
    <dd><%= formated_price(@bottle.current_value) %></dd>
	
	  <dt><%= t("helpers.label.bottle.comments")%></dt>
	  <dd><%= @bottle.comments %></dd>
	  
	  <br /><br />
	  
    <dd><%= button_to_edit edit_bottle_path(@bottle) %></dd><br />
    <dd><%= button_to_destroy @bottle if @bottle.can_destroy? %></dd>
	</dl>
  </div>
  
  
  <div class="span6">
    <!--                                         PLACED BOTTLES                                         -->
    <table class="table table-condensed">
      <% @wine_racks.each do |rack| %>
        <% unless rack.positions == 0 %>
          <tr>
      	    <td><%= link_to rack.name, wine_rack_path(rack, :bottle => @bottle) %></td>
      	    <td><%= t('bottles.placed', count: rack.positions) %></td>
      	  </tr>
    	  <% end %>
    	<% end %>
  	
  	<!--                                        UNPLACED BOTTLES                                        -->
  	<% not_placed = @bottle.not_placed %>
  	<% if not_placed == 0 %>
      </table>
    <% else %>
        <tr>
      	  <td><%= link_to t('bottles.unplaced'), not_placed_bottles_path %></td>
      	  <td><%= t('bottles.placed', count: not_placed) %></td>
      	</tr>
    	</table>
  	  <% if @all_wine_racks.empty? %>
  	    <br /><%= link_to t('wine_rack.new'), new_wine_rack_path %>
  	  <% else %>
    	  <%= form_for @bottle, :url => {:action => 'place'}, :html => {:class => 'form-inline', :method => 'get'} do %>
    	    <%= select_tag 'wine_rack_id', options_for_select(@all_wine_racks.map {|r| [r.name, r.id]}) %>
    	    <%= submit_tag t('bottles.place'), class: 'btn btn-primary' %>
    	  <% end %>
    	<% end %>
  	<% end %>
  	
  	<%= button_to_consume consume_bottle_path(@bottle) %>
  </div>
</div>

</div>
