<h2><%= wine_name @bottle.wine, estate: true, area: true, html: true %></h2>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6">
	<dl class="dl-horizontal">
	  <dt><%= t("helpers.label.bottle.vintage")%></dt>
	  <dd><%= @bottle.vintage %></dd>
	
	  <dt><%= t("helpers.label.bottle.volume")%></dt>
	  <dd><%= @bottle.volume %></dd>
	
	  <dt><%= t("helpers.label.bottle.quantity")%></dt>
	  <dd><%= t("bottles.remaining_and_initial", :remaining => @bottle.remaining_quantity, :initial => @bottle.initial_quantity) %></dd>
	
	  <dt><%= t("helpers.label.bottle.date")%></dt>
	  <dd><%= @bottle.date %></dd>
  
    <dt><%= t("helpers.label.bottle.channel")%></dt>
    <dd><%= t(@bottle.channel, scope: 'bottles.channels') %></dd>
  
    <dt><%= t("helpers.label.bottle.price")%></dt>
    <dd><%= @bottle.price %> €</dd>
	
	  <dt><%= t("helpers.label.bottle.comments")%></dt>
	  <dd><%= @bottle.comments %></dd>
	</dl>
  </div>
  
  
  <div class="span6">
	<dl class="dl-horizontal">
  	  <!--                                         PLACED BOTTLES                                         -->
  	  <% @wine_racks.each do |rack| %>
  	    <% unless rack.positions == 0 %>
  	      <dt><%= link_to rack.name, rack %></dt>
  	      <dd><%= t('bottles.placed', count: rack.positions) %></dd>
  	    <% end %>
  	  <% end %>
    </dl>
  	
  	<!--                                        UNPLACED BOTTLES                                        -->
  	<% not_placed = @bottle.not_placed %>
  	<% if not_placed > 0 %>
  	  <%= t 'bottles.unplaced', count: not_placed %>
  	  <%= form_for @bottle, :url => {:action => 'place'}, :html => {:class => 'form-inline', :method => 'get'} do %>
  	    <%= select_tag 'wine_rack_id', options_for_select(@all_wine_racks.map {|r| [r.name, r.id]}) %>
  	    <%= submit_tag t('bottles.place'), class: 'btn btn-primary' %>
  	  <% end %>
  	<% end %>
  </div>
</div>


<%= link_to t("bottles.edit"), edit_bottle_path(@bottle) %>