<div class="row">
  <div class="span6 offset3 white-opacity">
	<%= form_for(@user, html: { class:'form-horizontal'}) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	
	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="control-group">	
	    <%= f.label :name, :class => 'control-label' %>
	    <div class="controls">
	    <%= f.text_field :name, disabled: true %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
	    <div class="controls">
        <%= f.text_field :email %>
	    </div>
	  </div>
  
    <div class="control-group">
      <%= f.label :locale, :class => 'control-label' %>
      <div class="controls">
      <%= select_tag "user[locale]", options_for_select([['Français', 'fr'], ['English', 'en']], :selected => @user.locale) %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :date_format, :class => 'control-label' %>
      <div class="controls">
        <% dates = [:default, :short, :long].map {|f| [l(Date.today, format: f), f.inspect]} %>
        <%= select_tag "user[date_format]", options_for_select(dates, :selected => @user.date_format) %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :currency, :class => 'control-label' %>
      <div class="controls">
        <% currencies = ['€', '$', '£'].map {|c| [c, c]} %>
        <%= select_tag "user[currency]", options_for_select(currencies, :selected => @user.currency) %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :tutorial, :class => 'control-label' %>
      <div class="controls">
      <%= select_tag "user[tutorial]", options_for_select([['Activé', 'true'], ['Désactivé', 'false']], :selected => @user.tutorial) %>
      </div>
    </div>
	
	  <% if can? :manage, @user %>
	    <div class="control-group">
	      <%= f.label :role, :class => 'control-label' %>
	      <div class="controls">
	      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	      </div>
        </div>
	  <% end %>
	    
	  <div class="control-group">
	    <div class="controls">
	    <%= f.submit class: "btn btn-primary" %>
	    </div>
	  </div>
	<% end %>
  </div>
</div>
