<% provide(:title, @user.name) %>

<% height = [160, 200 + @colors.length * 28].max %>

<div class="row-fluid">

  <div class="span3 white-opacity rounded-top-less" style="height: <%= height %>px;">
    <h3><%= t('user.stat.summary.total_count', count: @bottles) %></h3>
    <% if  @bottles.to_i > 0 %>
    <table class="table table-condensed">
      <% @colors.each do |c| %>
        <tr>
          <td><%= link_to wine_color_image_2(c.color, false, 0, true), bottles_path(:color => c.color) %></td>
          <td><%= c.total %></td>
        </tr>
      <% end %>
      <tr><td></td><td></td></tr>
      <% @ages.each_pair do |a, c| %>
        <tr>
          <td><%= c.to_i > 0 ? link_to(t('bottles.drink.' + a), bottles_path(:maturity => a)) : t('bottles.drink.' + a) %></td>
          <td><%= c %></td>
        </tr>
      <% end %>
    </table>
    <% end %>
  </div>
  
  <div class="span6 white-opacity rounded-top-less" style="height: <%= height %>px;">
    <% if (@bottles == 0) %>
      <h3><%= t('user.stat.summary.total_count', count: @bottles) %></h3>
      <%= link_to t('bottles.new'), new_bottle_path %>
    <% else %>
      <% unless @oldest.nil? %>
        <h3><%= t('user.stat.summary.oldest_title')%></h3>
        <%= link_to bottle_name(@oldest), @oldest %><br /><br /><br />
      <% end %>
      <% unless @most_expensive.nil? %>
        <h3><%= t('user.stat.summary.most_expensive_title')%></h3>
        <%= link_to bottle_name(@most_expensive), @most_expensive %> - <%= formated_price @most_expensive.current_value %>
      <% end %>
    <% end %>
  </div>
  
  <div class="span3 white-opacity rounded-top-less" style="height: <%= height %>px;">
    <h3><%= t('user.dashboard.participation') %></h3>
    <table class="table table-condensed">
      <tr><td><%= t('user.dashboard.wines', count: @wines) %></td></tr>
      <tr><td><%= t('user.dashboard.tastings', count: @tastings) %></td></tr>
      <tr><td><%= t('user.dashboard.pairings', count: @pairings) %></td></tr>
    </table>
  </div>

</div>
