<% provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<% if can? :update, @user %>
  <p>
	<b>Email:</b>
	<%= @user.email %>
  </p>
<% end %>

<p>
  <b>Role:</b>
  <%= @user.role.capitalize %>
</p>

<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
