<% provide(:title, t('helpers.label.user.change_password')) %>

<div class="white-opacity rounded">

  <h1><%= t('helpers.label.user.change_password') %></h1>

  <div class="row">
    <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
         <%= f.email_field :password %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label :password_confirmation, :class => 'control-label' %>
        <div class="controls">
         <%= f.email_field :password_confirmation %>
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <%= f.submit t('helpers.label.user.change_password'), class: "btn btn-large btn-primary" %>
        </div>
      </div>
    
    <% end %>
    </div>
  </div>

</div>
