<div class="row-fluid">
  <div class="span4">
    <div class="alert alert-info" style="height: 180px;">
      <span class="more"><%= link_to t('home.discover.more'), countries_path %></span>
      <h3><%= t('home.discover.areas.title_countries', count: Country.count) %></h3>
      <h3><%= t('home.discover.areas.title_areas', count: Area.count) %></h3>
      <%= raw @areas.map {|a| link_to (a.region.country.name + ' - ' + a.name).truncate(36), a}.join('<br />') %>
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-success" style="height: 180px;">
      <span class="more"><%= link_to t('home.discover.more'), grape_varieties_path %></span>
      <h3><%= t('home.discover.grape_varieties.title', count: GrapeVariety.count) %></h3>
      <%= raw @grape_varieties.map {|a| link_to a.name.truncate(36), a}.join('<br />') %>
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-info" style="height: 180px; text-align: justify;">
      <span class="more"><%= link_to t('home.discover.more'), glossaries_path %></span>
      <h3><%= t('home.discover.glossary.title', count: Glossary.count) %></h3>
      <em><%= @definition.word.truncate(36) %></em><br /><%= @definition.definition.truncate(200) %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="alert alert-success" style="height: 200px; text-align: justify;">
      <h3><%= t('home.discover.recommanded.title') %></h3>
      <%= t('home.discover.recommanded.description') %><br />
      <%= image_tag 'why/recommandation.jpg', style: "position: relative; top: 7px;" %>
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-info" style="height: 200px; text-align: justify;">
      <h3><%= t('home.discover.pairings.title') %></h3>
      <%= t('home.discover.pairings.description') %><br />
      <%= image_tag 'why/pairing.jpg', style: "position: relative; top: 7px;" %>
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-success" style="height: 200px; text-align: justify;">
      <h3><%= t('home.discover.community.title') %></h3>
      <ul>
        <li><%= t('home.discover.community.users', count: User.count) %></li>
        <li><%= t('home.discover.community.wines', count: Wine.validated.count) %></li>
        <li><%= t('home.discover.community.tastings', count: Tasting.count) %></li>
      </ul>
    </div>
  </div>
</div>
