<div class="row-fluid">
  
  <div class="span6">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img src="http://image.shutterstock.com/display_pic_with_logo/104251/104251,1212634550,1/stock-photo-wine-tasting-13390957.jpg" alt="" />
          <div class="carousel-caption">
            <h4><%= raw t('home.index.carousel.t1') %></h4>
            <p><%= raw t('home.index.carousel.p1') %></p>
          </div>
        </div>
        <div class="item">
          <img src="http://image.shutterstock.com/display_pic_with_logo/288118/105208151/stock-photo-grapes-in-a-vineyard-being-checked-by-a-female-vintner-color-toned-image-105208151.jpg" alt="" />
          <div class="carousel-caption">
            <h4><%= raw t('home.index.carousel.t2') %></h4>
            <p><%= raw t('home.index.carousel.p2') %></p>
          </div>
        </div>
        <div class="item">
          <img src="http://image.shutterstock.com/display_pic_with_logo/934477/934477,1327273422,1/stock-photo-wine-cellar-in-small-french-restaraunt-93338578.jpg" alt="" />
          <div class="carousel-caption">
            <h4><%= raw t('home.index.carousel.t3') %></h4>
            <p><%= raw t('home.index.carousel.p3') %></p>
          </div>
        </div>
        <div class="item">
          <img src="http://image.shutterstock.com/display_pic_with_logo/306172/103691498/stock-photo-hands-make-cheers-with-glasses-of-champagne-103691498.jpg" alt="" />
          <div class="carousel-caption">
            <h4><%= raw t('home.index.carousel.t4') %></h4>
            <p><%= raw t('home.index.carousel.p4') %></p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  
  <div class="span6">
    <a href="<%= url_for(controller: 'home', action: 'discover') %>">
      <div class="alert alert-info center" style="line-height: 1.30;text-decoration: underline;">
        <h3><%= t('menu.discover.title') %></h3>
        <%= raw t('home.index.discover.p1') %><br />
        <%= raw t('home.index.discover.p2') %>
      </div>
    </a>
    <a href="<%= url_for(controller: 'home', action: 'track') %>">
      <div class="alert alert-info center" style="line-height: 1.30;text-decoration: underline;">
        <h3><%= t('menu.track.title') %></h3>
        <%= raw t('home.index.track.p2') %><br />
        <%= raw t('home.index.track.p3') %>
      </div>
    </a>
    <div class="alert alert-info center" style="line-height: 1.30;">
      <h3><%= t('menu.share.title') %></h3>
      <%= raw t('home.index.share.p2') %><br />
      <%= raw t('home.index.share.p3') %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="alert alert-success">
      <h3><%= t('home.index.discover.l3', :c => wine_count_validated) %></h3>
      <table class="table">
        <% @wines.each do |wine| %>
          <tr>
            <td>
              <% if wine.labels.validated.any? %>
                <%= image_tag wine.labels.validated.first.image_url(:mini).to_s, style: "border: 1px solid;" %>
              <% end %>
            </td>
            <td>
              <%= wine_name(wine, estate: true) %><br />
              <%= full_area_name wine.area, html: true %><br />
              <%= wine_color_image(wine, false, 0, true) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="span6">
    <div class="alert alert-success">
      <h3><%= t('home.index.share.l2', :c => Tasting.all.count) %></h3>
      <table class="table">
        <% @tastings.each do |tasting| %>
          <tr>
            <td>
              <% if tasting.wine.labels.validated.any? %>
                <%= image_tag tasting.wine.labels.validated.first.image_url(:mini).to_s, style: "border: 1px solid;" %>
              <% end %>
            </td>
            <td>
              <%= wine_name(tasting.wine, estate: true) %><br />
              <%= full_area_name tasting.wine.area, html: true %><br />
              <%= wine_color_image(tasting.wine, false, 0, true) %><br />
              <%= formated_vintage tasting.vintage, false %><br />
              <%= star_rating(tasting.note, 5) %> par <%= tasting.user.name %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>