
<% if flash[:notice] %>
  <div class="alert"><%= flash[:notice] %></div>
<% end %>


<div class="row">
  <div class="span4">
  	<div class="alert alert-info center">
  	  <h1><%= t('menu.discover.title') %></h1>
  	  <p><%= raw t('home.index.discover.p1') %></p>
  	  <p><%= raw t('home.index.discover.p2') %></p>
  	  <p><%= raw t('home.index.discover.p3') %></p>
  	  <p><%= raw t('home.index.discover.p4') %></p>
  	</div>
  </div>
  <div class="span4">
  	<div class="alert alert-info center">
      <h1><%= t('menu.track.title') %></h1>
      <p><%= raw t('home.index.track.p1') %></p>
      <p><%= raw t('home.index.track.p2') %></p>
      <p><%= raw t('home.index.track.p3') %></p>
  	</div>
  </div>
  <div class="span4">
  	<div class="alert alert-info center">
      <h1><%= t('menu.share.title') %></h1>
  	  <p><%= raw t('home.index.share.p1') %></p>
  	  <p><%= raw t('home.index.share.p2') %></p>
  	  <p><%= raw t('home.index.share.p3') %></p>
  	  <p><%= raw t('home.index.share.p4') %></p>
  	</div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="alert alert-success">
      <ul>
      	<li><%= t('home.index.discover.l1', :c => Area.all.count) %></li>
      	<li><%= t('home.index.discover.l2', :c => estate_count_validated) %></li>
      	<li><%= t('home.index.discover.l3', :c => wine_count_validated) %></li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-success">
      <ul>
      	<li><%= t('home.index.track.l1', :c => bottles_count_remaining) %></li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-success">
      <ul>
      	<li><%= t('home.index.share.l1', :c => User.all.count) %></li>
      	<li><%= t('home.index.share.l2', :c => Tasting.all.count) %></li>
      	<li><%= t('home.index.share.l3', :c => WineRecommandation.all.count) %></li>
      </ul>
    </div>
  </div>
</div>
