<% current_user.tutorial = false %>

<div class="row-fluid">
  <div class="span4">
    <div class="white-opacity rounded" style="height: 150px">
      <h1><%= t "menu.discover.title" %></h1>
      Pour découvrir le monde du vin :<br />
      <%= link_to raw('<i class="icon-list"></i> ') + t("menu.discover.wines_estates"), wines_and_estates_path %><br />
      <%= link_to raw('<i class="icon-book"></i> ') + t("menu.discover.glossaries"), glossaries_path %><br />
      <%= link_to raw('<i class="icon-thumbs-up"></i> ') + t("menu.discover.recommmandations"), recommanded_wines_path %><br />
      <%= link_to raw('<i class="icon-random"></i> ') + t("menu.discover.pairings"), pairings_path %><br />
      et bien plus encore...
    </div>
  </div>
  <div class="span4">
    <div class="white-opacity rounded" style="height: 150px">
      <h1><%= t "menu.track.title" %></h1>
      Pour suivre vos bouteilles et vos dégustations :<br />
      <%= link_to raw('<i class="icon-bottles"></i> ') + t("menu.track.my_bottles"), bottles_path %><br />
      <%= link_to raw('<i class="icon-th"></i> ') + t("menu.track.my_racks"), wine_racks_path %><br />
      <%= link_to raw('<i class="icon-tastings"></i> ') + t("menu.track.my_tastings"), tastings_user_path(current_user) %>
    </div>
  </div>
  <div class="span4">
    <div class="white-opacity rounded" style="height: 150px">
      <h1><%= t "menu.share.title" %></h1>
      Pour pour partager avec les autres utilisateurs :<br />
      <%= link_to raw('<i class="icon-user"></i> ') + t("menu.share.users"), users_path %><br />
      <%= link_to raw('<i class="icon-share"></i> ') + t("menu.share.new_wine"), new_wine_path %><br />
      <%= link_to raw('<i class="icon-glass"></i> ') + t("menu.share.taste"), new_tasting_path %>
    </div>
  </div>
</div>

<br />

<div class="white-opacity rounded">
  <h1>Fiches producteur et vin</h1>
  La fiche producteur contient les informations utiles dans sa partie gauche.<br /><br />
  Elle regroupe également les fiches vins de ce producteur dans la partie de droite :
  <ul>
    <li><%= wine_color_image @wine %> représente le type de vin, ici un vin blanc.</li>
    <li><%= link_to @wine.name, @wine %> est le nom du vin. Cliquez dessus pour ouvrir la fiche de ce vin.</li>
    <li><%= link_to @wine.area.name, @wine.area %> est l'appellation de ce vin. Cliquez dessus pour avoir plus d'informations sur cette appellation.</li>
    <li>
      Finalement viennent plusieurs icones pour interagir avec ce vin :
      <ul>
        <%=raw action_button_show @wine %> permet de voir la fiche du vin. Vous pouvez également cliquer sur son nom.<br />
        <%=raw action_button_wine_tasting @wine %> permet de voir les dégustations connues pour ce vin.<br />
        <%=raw action_button_add_label @wine %> permet d'ajouter une image (étiquette par exemple).<br />
        <%=raw action_button_taste @wine %> permet d'entrer une fiche dégustation si vous avez goûté ce vin.<br />
        <%=raw action_button_encave @wine %> permt d'ajouter ce vin à la liste de vos bouteilles.
      </ul>
    </li>
  </ul>
  Exemple :
  <%= render :template => 'estates/show' %>
</div>

<br />

<div class="row-fluid">
  <div class="span6">
    <div class="white-opacity rounded" style="height: 200px">
      <h1><%= t("menu.track.my_bottles") %></h1>
      <%= link_to raw('<i class="icon-bottles"></i> ') + t("menu.track.my_bottles"), bottles_path %><br />
      Enregistrez les bouteilles que vous possédez pour vous garder une trace de vos découvertes, en suivre l'évolution, connaître à tout instant votre réserve...<br />
      <br />
      <%= link_to raw('<i class="icon-th"></i> ') + t("menu.track.my_racks"), wine_racks_path %><br />
      Permet de regrouper vos bouteilles dans des casiers pour mieux les retrouver.
    </div>
  </div>
  <div class="span6">
    <div class="white-opacity rounded" style="height: 200px">
      <h1><%= t("menu.track.my_tastings") %></h1>
      <%= link_to raw('<i class="icon-tastings"></i> ') + t("menu.track.my_tastings"), tastings_user_path(current_user) %><br />
      Enregistrez une trace des vins que vous dégustez pour mieux retrouver vos coups de coeur.<br />
      <br />
      <%= link_to raw('<i class="icon-thumbs-up"></i> ') + t("menu.discover.recommmandations"), recommanded_wines_path %><%= link_to raw('<i class="icon-random"></i> ') + t("menu.discover.pairings"), pairings_path, :class => 'pull-right' %><br />
      Vos dégustations permettent également de mieux conseiller vous et les autres utilisateurs.
    </div>
  </div>
</div>