<div class="accordion white-opacity rounded-top-less" id="accordion1">
  <h3>Vous êtes un nouveau dans le monde du vin ?</h3>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
        Je ne connais pas beaucoup le monde du vin...
      </a>
    </div>
    <div id="collapse1" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          Les mots "millésime", "clayette", "cépage" vous sont obscurs ? Vinosus va tout vous expliquer !<br />
          Grâce à au glossaire, aux conseils, et grâce aux nombreux utilisateurs prêts à vous aider, le monde du vin vous ouvre grand ses portes.
        </p>
        <div class="row">
          <div class="span3"><%= image_tag 'why/glossary.jpg' %></div>
          <div class="span3 offset1"><%= image_tag 'why/recommandation.jpg' %></div>
          <div class="span3 offset1"><%= image_tag 'why/users.jpg' %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
        Je n'achète/consomme pas souvent du vin, pourquoi utiliser Vinosus ?
      </a>
    </div>
    <div id="collapse2" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          Il n'est pas toujours facile de se souvenir des vins qu'on a déjà bus et appréciés.<br />
          Avec Vinosus, enregistrez vos achats et vos dégustations pour les retrouver plus facilement. Ainsi il vous sera facile plus tard de reprendre le même vin dans votre magasin ou restaurant favori.
        </p>
        <div class="row">
          <div class="span3"><%= image_tag 'why/new_bottle.jpg' %></div>
          <div class="span3 offset1"><%= image_tag 'why/consumptions.jpg' %></div>
          <div class="span3 offset1"><%= image_tag 'why/tasting.jpg' %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
        Je ne sais jamais quoi acheter. Pouvez-vous m'aider ?
      </a>
    </div>
    <div id="collapse3" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          Vinosus vous aide en vous recommandant des vins qui vous conviennent:
          <ul>
            <li>En se basant sur les vins que vous avez aimés</li>
            <li>En se basant sur le mets que le vin accompagnera</li>
          </ul>
        </p><br />
        <div class="row">
          <div class="span3 offset1"><%= image_tag 'why/recommandation.jpg' %></div>
          <div class="span3 offset2"><%= image_tag 'why/pairing.jpg' %></div>
        </div>
      </div>
    </div>
  </div>

<br />

  <h3>Vous êtes un grand amateur de vin ?</h3>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse4">
        Je suis perdu avec mes bouteilles !
      </a>
    </div>
    <div id="collapse4" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Grâce aux fonctions de recherche dans vos bouteilles, et surtout avec sa représentation graphique de vos casiers, Vinosus vous aide à retrouver facilement la bouteille qu'il vous faut, quand il vous la faut.</p>
        <div class="row">
          <div class="span3"><%= image_tag 'why/search_bottle.jpg' %></div>
          <div class="span3 offset1"><%= image_tag 'why/rack_graphical.jpg' %></div>
          <div class="span3 offset1"><%= image_tag 'why/rack_tabular.jpg' %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse5">
        Je ne sais pas toujours quel est la meilleure année pour déguster mes bouteilles
      </a>
    </div>
    <div id="collapse5" class="accordion-body collapse">
      <div class="accordion-inner">
        A venir. Vinosus vous aide, avec l'aide des autres utilisateurs, à déterminer les meilleures années pour boire vos vins.
      </div>
    </div>
  </div>

<br />

  <h3>Vous êtes un professionel du vin ?</h3>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse6">
        Pourquoi participer à Vinosus ?
      </a>
    </div>
    <div id="collapse6" class="accordion-body collapse">
      <div class="accordion-inner">
        Grâce à ses recommandations ciblées, Vinosus vous aide à placer vos produits pour qu'ils aient l'impact maximal.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse7">
        Comment ?
      </a>
    </div>
    <div id="collapse7" class="accordion-body collapse">
      <div class="accordion-inner">
        Essayez le site, et contactez les administrateurs !
      </div>
    </div>
  </div>
</div>