<% title = @book.title + " - " + @book.authors %>
<% set_meta_tags :title => title,
                 :description => @book.description,
                 :og => {
                   :url => book_url(@book),
                   :title => title,
                   :type => "vinosus:book",
                   :locale => I18n.locale,
                   :description => @book.description,
                   :site_name => site_name
                 },
                 :twitter => {
                   :card => 'summary'
                 } %>

<div class="white-opacity rounded">
  <h1><%= @book.title %></h1>
  <br />
  
  <div class="row-fluid">
    <div class="span5">
      <% unless @book.amazon.blank? %>
        <p>
          <%= raw @book.amazon %><br />
          <em><%= t('book.buy') %></em>
        </p>
        <br />
      <% end %>
      
      <p>
        <b><%= t("helpers.label.book.authors")%>:</b>
        <%= @book.authors %>
      </p>
      
      <p>
        <b><%= t("helpers.label.book.editor")%>:</b>
        <%= @book.editor %>
      </p>
      
      <p>
        <b><%= t("helpers.label.book.category")%>:</b>
        <%= t(@book.category, scope: "book.category") %>
      </p>
      
      <p>
        <b><%= t("helpers.label.book.isbn")%>:</b>
        <%= @book.isbn %>
      </p>
      
      <p>
        <b><%= t("helpers.label.book.pages")%>:</b>
        <%= @book.pages %>
      </p>
      
      <% if user_signed_in? %>
        <p>
          <% if current_user.own_book? @book %>
            <%= t('book.owned') %>
          <% else %>
            <%= link_to t('book.own'), own_book_path(@book) %>
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="span7">
      <blockquote><%= @book.description %></blockquote>
    </div>

  </div>
</div>

<br />

<div class="white-opacity rounded-top-less">
  <div class="row-fluid">
    <div class="span6">
      <%= t('book.ratings', count: @book.ratings.count) %><br /><br />
      <table class="table">
        <% @book.ratings.each do |rating| %>
          <tr><td>
            <% unless rating.comment.blank? %>
              <blockquote><%= rating.comment %></blockquote>
            <% end %>
            <span class="star" data-score="<%= rating.note %>"></span> par <%= rating.user.name %><br /><br />
          </td></tr>
        <% end %>
      </table>
    </div>
    
    <% if can? :update, @book_rating %>
      <div class="span6">
        <%= form_for @book_rating, html: { class:'form-horizontal'} do |f| %>
          <%= f.hidden_field :book_id, :value => @book.id%>
          <%= f.text_area :comment, :rows => 4, :class => "span11" %><br />
          <span id="book_rating_note" data-score="<%= @book_rating.note %>"></span>&nbsp;&nbsp;
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <br />
  
  <div class="white-opacity rounded">
    <% unless @book.comments.empty? %>
      <%= render :partial => 'comments/comment', :collection => @book.comments %><br />
    <% end %>
    <%= form_for Comment.new, url: comment_book_path(@book), html: { class:'form-horizontal row-fluid'} do |f| %>
      <%= f.text_area :comment, rows: 4, class: 'span12' %><br />
      <%= f.submit t('helpers.label.comment.create'), class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
