<tr>
  <td>
    <%= link_to estate.name, estate %>
  </td>
  <td>
    <%= "#{estate.town} (#{estate.country})"%>
  </td>
  
  <% if can? :manage, estate %>
  <td>
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
      	Actions
      	<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= link_to_edit(edit_estate_path(estate)) %>
        <% if estate.validated? %>
          <%= link_to_unvalidate unvalidate_estate_path(estate) %>
        <% else %>
          <%= link_to_validate validate_estate_path(estate) %>
        <% end %>
      </ul>
  	</div>
  </td>
  <% end %>
</tr>