<tr>
  <td>
    <%= link_to estate.name, estate %>
  </td>
  <td>
    <%= estate.town unless estate.town.empty? %>
    <%= " (" unless estate.town.empty? or estate.country.empty? %>
    <%= estate.country unless estate.country.empty? %>
    <%= ")" unless estate.town.empty? or estate.country.empty? %>
  </td>
  
  <td>
    <% if can? :replace, Estate and @replaced_estate %>
      <%= estate_action_button estate, @replaced_estate %>
    <% else %>
      <%= estate_action_button estate %>
    <% end %>
  </td>
</tr>