<%= form_for(@estate, html: { class:'form-horizontal'}) do |f| %>

<div class="control-group">
  <%= f.label :name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name %>
    <% if current_user.tutorial %>
      <div class="help-inline"><%= t('helpers.label.estate.name_help') %></div>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :owner, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :owner %>
  </div>
</div>

<div class="control-group">
  <%= f.label :address, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :address %>
  </div>
</div>

<div class="control-group">
  <%= f.label :zip_code, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :zip_code %>
  </div>
</div>

<div class="control-group">
  <%= f.label :town, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :town %>
  </div>
</div>

<div class="control-group">
  <%= f.label :country, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :country %>
  </div>
</div>

<div class="control-group">
  <%= f.label :phone, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :phone %>
  </div>
</div>

<div class="control-group">
  <%= f.label :fax, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :fax %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, :class => 'control-label' %>
  <div class="controls">
  <%= f.email_field :email %>
  </div>
</div>

<div class="control-group">
  <%= f.label :www, :class => 'control-label' %>
  <div class="controls">
  <%= f.url_field :www %>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.submit class: "btn btn-primary" %>
    <div class="alert-error"><%= t('helpers.public') %></div>
  </div>
</div>
<% end %>
