<% provide(:title, "Wine estates") %>

<h1>Wine estates</h1>

<div clas="row">
  <div class="span8">
  	<% if @searched.nil? %>
  	  <h2>Random wine estates</h2>
  	<% else %>
  	  <h2>Matching wine estates</h2>
  	<% end %>
	<ul>
	  <%= render @estates %>
	</ul>
  </div>
  <div class="span3">
  	<%= form_tag search_estates_path, method: 'get' do %>
  	  <%= text_field_tag :q, @searched %>
  	  <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
  	<% end %>
	<% if can? :create, Estate %>
	  <%= link_to 'Suggest a new Estate', new_estate_path %>
    <% end %>
  </div>
</div>
