<% provide(:title, @estate.name) %>

<div class="white-opacity rounded-top more-padding">
  
  <div class="row-fluid">
    <div class="span4">
    <h1><%= @estate.name %></h1>
  
    <% if user_signed_in? %>
    	<p>
    	  <%= raw "#{@estate.address}<br />" unless @estate.address.empty? %>
    	  <%= raw "#{@estate.zip_code} #{@estate.town}<br />" unless @estate.zip_code.empty? and @estate.town.empty? %>
    	  <%= raw "#{@estate.country}<br />" unless @estate.country.empty? %>
    	  <%= raw "<i class=\"icon-headphones\"></i>  #{@estate.phone}<br />" unless @estate.phone.empty? %>
    	  <%= raw "<i class=\"icon-print\"></i> #{@estate.fax}<br />" unless @estate.fax.empty? %>
    	  <%= raw "<i class=\"icon-envelope\"></i>  #{mail_to(@estate.email)}<br />" unless @estate.email.empty? %>
    	  <%= raw "<i class=\"icon-home\"></i> #{link_to(@estate.www, @estate.www, target: '_blank')}" unless @estate.www.empty? %>
    	</p>
  	
    	<p>
    	  <b><%= t("helpers.label.estate.owner") %>:</b>
    	  <%= @estate.owner %>
    	</p>
    	
    	<p>
        <%= render 'tutorial/validation' %>
    	  <b><%= t("estate.status") %>:</b>
    	  <% if @estate.validated? %>
    	    <i class="icon-ok-sign"></i> <%= t("estate.validated") %>
    	  <% else %>
    	    <i class="icon-question-sign"></i> <%= t("estate.not_validated") %>
    	  <% end %>
    	</p>
    	
    	<p>
    	  <b><%= t("estate.user") %>:</b>
    	  <%= @estate.user.name %>
    	</p>
    	
    	<% if can? :manage, @estate %>
      	<p>
      	  <%= estate_action_buttons @estate %>
      	</p>
      <% end %>
    <% else %>
      <%= raw "#{@estate.zip_code} #{@estate.town}<br />" unless @estate.zip_code.empty? and @estate.town.empty? %>
      <%= raw "<i class=\"icon-home\"></i> #{link_to(@estate.www, @estate.www, target: '_blank')}" unless @estate.www.empty? %><br /><br />
      <div class="well">
        <%= t('helpers.want_to_learn_more') %><br />
        <%= link_to t("menu.profile.sign_up"), new_user_registration_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
    
      <div class="social"><div id="sharrre"></div></div>
    </div>
  
    <div class="span8">
    	<% if !@estate.wines.any? %>
        <div<%= current_user.tutorial ? raw(" class=\"alert alert-error\"") : "" %>>
          <p><%= t("estate.no_wines") %></p>
    	<% else %>
    	  <h2><%= t('wine.wines') %></h2>
        <table class="table table-condensed">
          <% @estate.wines.each do |wine| %>
            <%= wine_name wine, color: true, area: true, html: true, links: true unless wine.nil? %>
          <% end %>
        </table>
    	<% end %>
    	<% if can? :create, Wine %>
    	  <%= link_to t("estate.suggest_wine"), new_wine_path(estate_id: @estate.id, estate_name: @estate.name) %>
    	<% end %>
      <% if !@estate.wines.any? %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br /><br />
