<% provide(:title, @estate.name) %>

<p id="notice"><%= notice %></p>

<h2><%= @estate.name %></h2>

<div class="row">
  <div class="span6">
	<p>
	  <%= @estate.address %><br />
	  <%= @estate.zip_code %> <%= @estate.town %><br />
	  <%= @estate.country %><br />
	  <i class="icon-headphones"></i>  <%= @estate.phone %><br />
	  <i class="icon-print"></i>  <%= @estate.fax %><br />
	  <i class="icon-envelope"></i>  <%= mail_to @estate.email %><br />
	  <i class="icon-home"></i>  <%= link_to @estate.www, @estate.www, target: '_blank' %>
	</p>
	
	<p>
	  <b><%= t("helpers.label.estate.owner") %>:</b>
	  <%= @estate.owner %>
	</p>
	
	<p>
	  <b><%= t("estate.status") %>:</b>
	  <% if @estate.validated? %>
	    <i class="icon-ok-sign"></i> <%= t("estate.validated") %>
	  <% else %>
	    <i class="icon-question-sign"></i> <%= t("estate.not_validated") %>
	  <% end %>
	</p>
	
	<p>
	  <b><%= t("estate.user") %>:</b>
	  <%= @estate.user.name %>
	</p>
	<% if can? :manage, @estate %>
      <p>
        <b><%= t("estate.moderation") %>:</b>
        <%= link_to_edit(edit_estate_path(@estate)) %>
        <%= link_to_destroy @estate %>
        <% if @estate.validated? %>
          <%= link_to_unvalidate unvalidate_estate_path(@estate) %>
        <% else %>
          <%= link_to_validate validate_estate_path(@estate) %>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class="span6">
  	<% if @estate.wines.any? %>
  	  <ul>
  	  	<%= render @estate.wines %>
  	  </ul>
  	<% else %>
  	  <p><%= t("estate.no_wines") %></p>
  	<% end %>
  	<% if can? :create, Wine %>
  	  <%= link_to t("estate.suggest_wine"), new_wine_path(estate_id: @estate.id, estate_name: @estate.name) %>
  	<% end %>
  </div>
</div>
