<% provide(:title, @area.name) %>

<p id="notice"><%= notice %></p>

<h2><%= link_to 'Countries', countries_path %> &gt; <%= link_to @area.region.country.name, @area.region.country %> &gt; <%= link_to @area.region.name, @area.region %> &gt; <%= @area.name %></h2>
