<% set_meta_tags :title => full_area_name(@area, html: false),
                 :description => t('area.wines', count: @wines.count) %>

<div class="white-opacity rounded">
  <h1><%= link_to(t('country.countries'), countries_path) + ' > ' + full_area_name(@area, html: true) %></h1>
  <br />
  
  <h3><%= t('area.estates') %></h3>
  <% if @wines.empty? %>
    <%= t('area.wines', :count => 0) %>
    <% if can? :new, Wine %>
      - <%= link_to t('wine.suggest'), new_wine_path %>
    <% end %>
    <br /><br />
  <% else %>
    <table class="table table-condensed">
      <% @estates.each do |estate, data| %>
        <tr>
          <td><%=raw data[:colors].sort.map {|c| wine_color_image_2 c}.join(' ') %></td>
          <td><%= link_to estate.name, estate %></td>
          <td><%= t('area.wines', :count => data[:wines]) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br />
  
  <div class="row-fluid">
    <div class="span6">
      <h3><%= t('area.color_grapes') %></h3>
      <% if @colors.empty? %>
        <%= t('area.no_color_grape') %>
      <% else %>
        <table class="table table-condensed">
          <% @colors.each do |color, grape_varieties| %>
            <tr>
              <td><%= wine_color_image_2 color, :tooltip => false, :text => true %></td>
              <td><%=raw grape_varieties.map {|gv| link_to gv.name, gv}.join(', ') %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    
    <div class="span6">
      <h3><%= t('area.geology') %></h3>
      <% if @area.geology.blank? %>
        <%= t('area.no_geology') %>
      <% else %>
        <%= @area.geology %>
      <% end %>
    </div>
  </div>
</div>

<br />

<div class="white-opacity rounded">
  <h3><%= t('area.wine_description') %></h3>
  <% if @area.wine_description.blank? %>
    <%= t('area.no_wine_description') %>
  <% else %>
    <% @area.wine_description = @area.wine_description.truncate(50) unless user_signed_in? %>
    <%= simple_format @area.wine_description %>
  <% end %>
</div>

<% if user_signed_in? %>
  <% sources = [nil] %>
  <% unless @area.superficies.empty? and @area.volumes.empty? %>
  <br />
  <div class="white-opacity rounded">
    <h3><%= t('area.superficy_volume') %></h3>
    <div class="row-fluid">
      <% unless @area.superficies.empty? %>
        <div class="span4">
          <h4><%= t('region.superficy') %></h4>
          <dl class="dl-horizontal">
            <% @area.superficies.each do |superficy| %>
              <% sources << superficy.source unless superficy.source.blank? or sources.include? superficy.source %>
              <dt><%= superficy.year %></dt>
              <dd><%= number_with_delimiter(superficy.superficy, :delimiter => ' ') %> ha <%= link_to "[#{sources.index(superficy.source)}]", superficy.source unless superficy.source.blank? %></dd>
            <% end %>
          </dl>
        </div>
      <% end %>
      <% unless @area.volumes.empty? %>
        <div class="span8">
          <h4><%= t('region.volume') %></h4>
          <br />
          <%=raw '<div class="row-fluid">' unless @color_volumes.empty? %>
          <% id = 0 %>
          <% @area.volumes.each do |volume| %>
            <% id +=1 %>
            <% sources << volume.source unless volume.source.blank? or sources.include? volume.source %>
            <%=raw '<div class="span6">' if @color_volumes.has_key? volume.year %>
            <strong><%= volume.year %></strong> <%= number_with_delimiter(volume.volume, :delimiter => ' ') %> hl <%= link_to "[#{sources.index(volume.source)}]", volume.source unless volume.source.blank? %>
            <% if @color_volumes.has_key? volume.year %>
              <% color_volume = @color_volumes[volume.year] %>
              <% color_volume.each do |hash| %>
                <% hash[:name] = t("wine.color.#{hash[:name]}") %>
              <% end %>
              <div class="pie" id="pie<%= id %>" data-json="<%= color_volume.to_json %>" style="height: 300px">
                <svg id="pie<%= id %>"></svg>
              </div>
            </div>
            <% else %>
            <br />
            <% end %>
          <% end %>
          <%=raw '</div>' unless @color_volumes.empty? %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% if sources.size > 1 %>
    <% sources.delete_at(0) %>
    <% index = 1 %>
    <div class="row-fluid">
      <h4><%= t('region.sources') %></h4>
      <% sources.each do |source| %>
        <%= link_to "[#{index}] #{source}", source %><br />
        <% index += 1 %>
      <% end %>
    </div>
  </div>
  <% end %>
<% else %>
  <br />
  <div class="well span4 center">
    <%= t('helpers.want_to_learn_more') %><br />
    <%= link_to t("menu.profile.sign_up"), new_user_registration_path, class: 'btn btn-primary' %>
  </div>
<% end %>