<% description = '' %>
<% description += @area.colors.keys.map {|c| t("wine.color.#{c}")}.join(', ') + ' - ' unless @area.colors.empty? %>
<% description += t('area.wines', count: @wines.count) %>
<% description += ' - ' + @area.wine_description.truncate(40) unless @area.wine_description.blank? or I18n.locale != :fr %>
<% set_meta_tags :title => full_area_name(@area, html: false),
                 :description => description %>
                 
<div class="white-opacity rounded">
  <h1>
    <%= link_to(t('country.countries'), countries_path) + ' > ' + full_area_name(@area, html: true) %>
    <%=raw action_button_edit @area if can? :manage, @area %>
  </h1>
  <br />
  
  <h3><%= t('area.estates') %></h3>
  <% if @wines.empty? %>
    <%= t('area.wines', :count => 0) %>
    <% if can? :new, Wine %>
      - <%= link_to t('wine.suggest'), new_wine_path %>
    <% end %>
    <br /><br />
  <% else %>
    <table class="table table-condensed">
      <% @estates.each do |estate, data| %>
        <tr>
          <td><%=raw data[:colors].sort.map {|c| wine_color_image_2 c}.join(' ') %></td>
          <td><%= link_to estate.name, estate %></td>
          <td><%= t('area.wines', :count => data[:wines]) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br />
  
  <div class="row-fluid">
  
    <div class="<%= user_signed_in? ? 'span6' : 'span4' %>">
      <h3><%= t('area.color_grapes') %></h3>
      <% if @area.colors.empty? %>
        <%= t('area.no_color_grape') %><br />
        <%= link_to t("helpers.want_to_contribute"), new_proposal_path(:page => url_for(only_path: false), :text => t('area.color_grapes')) if user_signed_in? %>
      <% else %>
        <table class="table table-condensed">
          <% @area.colors.each do |color, color_grape_varieties| %>
            <tr>
              <td><%= wine_color_image_2 color, :tooltip => false, :text => true %></td>
              <% if user_signed_in? %>
                <td><%=raw color_grape_varieties.map {|cg| cg.main ? '<strong>' + link_to(cg.grape_variety.name, cg.grape_variety) + '</strong>' : link_to(cg.grape_variety.name, cg.grape_variety)}.join(', ') %></td>
              <% else %>
                <td><%= t('home.discover.grape_varieties.title', count: color_grape_varieties.size) %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    
    <div class="<%= user_signed_in? ? 'span6' : 'span4' %>">
      <h3><%= t('area.geology') %></h3>
      <% if @area.geology.blank? %>
        <%= t('area.no_geology') %><br />
        <%= link_to t("helpers.want_to_contribute"), new_proposal_path(:page => url_for(only_path: false), :text => t('area.geology')) if user_signed_in? %>
      <% else %>
        <% @area.geology = @area.geology.truncate(10) unless user_signed_in? %>
        <%= @area.geology %>
      <% end %>
      <% if @area.has_decret? and user_signed_in? %>
        <br /><br />
        <h3>Décret</h3>
        <%= link_to @area.decret_name, @area.decret_link, :target => 'blank' %>
      <% end %>
    </div>
    
    <% unless user_signed_in? %>
      <div class="well span4 center">
        <%= t('helpers.want_to_learn_more') %><br />
        <%= link_to t("menu.profile.sign_up"), new_user_registration_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
    
  </div>
</div>

<br />

<div class="white-opacity rounded">
  <% unless user_signed_in? %>
    <div class="well span4 center pull-right">
      <%= t('helpers.want_to_learn_more') %><br />
      <%= link_to t("menu.profile.sign_up"), new_user_registration_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
  <h3><%= t('area.wine_description') %></h3>
  <% if @area.wine_description.blank? %>
    <%= t('area.no_wine_description') %><br />
    <%= link_to t("helpers.want_to_contribute"), new_proposal_path(:page => url_for(only_path: false), :text => t('area.wine_description')) if user_signed_in? %>
  <% else %>
    <% @area.wine_description = @area.wine_description.truncate(100) unless user_signed_in? %>
    <%= simple_format @area.wine_description %>
    <br />
  <% end %>
</div>

<% sources = [nil] %>
<% unless @area.superficies.empty? and @area.volumes.empty? %>
<br />
<div class="white-opacity rounded">
  <h3><%= t('area.superficy_volume') %></h3>
  <% if user_signed_in? %>
    <div class="row-fluid">
      <% unless @area.superficies.empty? %>
        <div class="span4">
          <h4><%= t('region.superficy') %></h4>
          <dl class="dl-horizontal">
            <% @area.superficies.each do |superficy| %>
              <% sources << superficy.source unless superficy.source.blank? or sources.include? superficy.source %>
              <dt><%= superficy.year %></dt>
              <dd><%= number_with_delimiter(superficy.superficy, :delimiter => ' ') %> ha <%= link_to "[#{sources.index(superficy.source)}]", superficy.source unless superficy.source.blank? %></dd>
            <% end %>
          </dl>
        </div>
      <% end %>
      <% unless @area.volumes.empty? %>
        <div class="span8">
          <h4><%= t('region.volume') %></h4>
          <br />
          <%=raw '<div class="row-fluid">' unless @color_volumes.empty? %>
          <% id = 0 %>
          <% @area.volumes.each do |volume| %>
            <% id +=1 %>
            <% sources << volume.source unless volume.source.blank? or sources.include? volume.source %>
            <%=raw '<div class="span6">' if @color_volumes.has_key? volume.year %>
            <strong><%= volume.year %></strong> <%= number_with_delimiter(volume.volume, :delimiter => ' ') %> hl <%= link_to "[#{sources.index(volume.source)}]", volume.source unless volume.source.blank? %>
            <% if @color_volumes.has_key? volume.year %>
              <% color_volume = @color_volumes[volume.year] %>
              <% color_volume.each do |hash| %>
                <% hash[:name] = t("wine.color.#{hash[:name]}") %>
              <% end %>
              <div class="pie" id="pie<%= id %>" data-json="<%= color_volume.to_json %>" style="height: 300px">
                <svg id="pie<%= id %>"></svg>
              </div>
            </div>
            <% else %>
            <br />
            <% end %>
          <% end %>
          <%=raw '</div>' unless @color_volumes.empty? %>
        </div>
      <% end %>
    </div>
  
    <% if sources.size > 1 %>
      <% sources.delete_at(0) %>
      <% index = 1 %>
      <div class="row-fluid">
        <h4><%= t('region.sources') %></h4>
        <% sources.each do |source| %>
          <%= link_to "[#{index}] #{source}", source %><br />
          <% index += 1 %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= t('helpers.want_to_learn_more') %> <%= link_to t("menu.profile.sign_up"), new_user_registration_path, class: 'btn btn-primary' %>
  <% end %>
</div>
<% end %>
<br />
<% if user_signed_in? %>
  <div class="well span4 offset4 center">
    <%= link_to t("helpers.want_to_contribute"), new_proposal_path(:page => url_for(only_path: false)), class: 'btn btn-primary' %>
  </div>
  <br /><br />
<% end %>
