<% provide(:title, @area.name) %>

<p id="notice"><%= notice %></p>

<h1><%= @area.name %></h1>

<p>
  <%= link_to @area.region.country.name, @area.region.country %> - <%= link_to @area.region.name, @area.region %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
