<div class="row">
  <div class="span6">
    <div class="control-group">
      <%= f.label :vintage, :class => 'control-label' %>
      <div class="controls">
        <%= select_vintage f, @tasting.vintage %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date, value: l(@tasting.date.nil? ? Date.today : @tasting.date), :locale => I18n.locale %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :note, :class => 'control-label' %>
      <div class="controls">
        <span id="tasting_note" <%= @tasting.note.blank? ? '' : raw("data-score=\"#{@tasting.note}\"") %> data-hints="<%= t('note_hints.tasting') %>" class="pull-left"></span>
        <span id="tasting_note_hint" class="span7"></span>
      </div>
    </div>
  </div>

  <div class="span6">
    <%= t('helpers.label.pairing.help') %><br /><br />

    <div class="control-group">
      <label for="pairing_dish" class="control-label"><%= t('helpers.label.pairing.dish') %>*</label>
      <div class="controls">
        <input id="pairing_dish" name="pairing[dish]" size="30" type="text" value="<%= (@pairing ? @pairing.dish : '') %>" data-provide="typeahead" data-items="10" data-source='<%= (raw dishes_array).gsub("'", "\'") %>' autocomplete='off' />
      </div>
    </div>

    <div class="control-group">
      <label for="pairing_note" class="control-label"><%= t('helpers.label.pairing.note') %>*</label>
      <div class="controls">
        <span id="pairing_note" <%= @pairing.nil? or @pairing.note.blank? ? '' : raw("data-score=\"#{@pairing.note}\"") %> data-hints="<%= t('note_hints.pairing') %>" class="pull-left"></span>
        <span id="pairing_note_hint" class="span7"></span>
      </div>
    </div>
  </div>
</div>
