<div class="row">
  <div class="span6">
    <div class="control-group">
      <%= f.label :nose_flavors, :class => 'control-label' %>
      <div class="controls">
        <% NoseFlavor.all.each do |f| %>
          <label class="checkbox" title="<%= t(f.examples) %>, ...">
            <%= check_box_tag "tasting[nose_flavor_ids][]", f.id, @tasting.nose_flavors.map(&:id).include?(f.id) %>
            <%= t(f.translate) %>
          </label>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="span6">
    <div class="control-group">
      <%= f.label :nose_intensity, :class => 'control-label' %>
      <div class="controls">
        <span id="nose_intensity_note" <%= @tasting.nose_intensity.blank? or @tasting.nose_intensity == 0 ? '' : raw("data-score=\"#{@tasting.nose_intensity}\"") %> data-hints="<%= t('note_hints.nose_intensity') %>" class="pull-left"></span>
        <span id="nose_intensity_note_hint"></span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :nose_complexity, :class => 'control-label' %>
      <div class="controls">
        <span id="nose_complexity_note" <%= @tasting.nose_complexity.blank? or @tasting.nose_complexity == 0 ? '' : raw("data-score=\"#{@tasting.nose_complexity}\"") %> data-hints="<%= t('note_hints.nose_complexity') %>" class="pull-left"></span>
        <span id="nose_complexity_note_hint" class="span7"></span>
      </div>
    </div>
  </div>
</div>
