<div class="row">
  <div class="span6">
    <div class="control-group">
      <%= f.label :eye_intensity, :class => 'control-label' %>
      <div class="controls">
        <span id="eye_intensity_note" <%= @tasting.eye_intensity.blank? or @tasting.eye_intensity == 0 ? '' : raw("data-score=\"#{@tasting.eye_intensity}\"") %> data-hints="<%= t('note_hints.eye_intensity') %>" class="pull-left"></span>
        <span id="eye_intensity_note_hint"></span>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :eye_color, :class => 'control-label' %>
      <div class="controls">
        <% font_color = (@wine.white? ? 'black' : 'white')%>
        <% colors = tasting_eye_colors(@wine).map { |c| "<option value='#{c[:value]}' style='background-color:#{c[:code]}; color:#{font_color}'" + (c[:value]==@tasting.eye_color ? ' selected="selected"' : '') + ">#{c[:name]}</option>" }.join('\n') %>
        <%= select_tag 'tasting[eye_color]', colors, :prompt => '-' %>
      </div>
    </div>
  </div>
  
</div>
