<tr>
  <td>
    <%= wine_name tasting.wine, color: true, estate: true, area: true, html: true %>
  </td>
  <td>
    <%= tasting.vintage %>
  </td>
  <td>
    <%= star_rating tasting.note, 5 %>
  </td>
  <td>
  	<%= formated_date(tasting.date) %>
  </td>
  <td>
  	<%= tasting.user.name %>
  </td>
  <td>
    <%= tasting_action_button tasting %>
  </td>
</tr>