<tr>
  <td><%= wine_color_image tasting.wine%></td>
  <td><%= wine_name tasting.wine, estate: true, area: true, html: true %></td>
  <td><%= formated_vintage(tasting.vintage) %></td>
  <td class="star" data-score="<%= tasting.note %>"></td>
  <td><%= formated_date(tasting.date) %></td>
  <td><%= tasting.user.name %></td>
  <td><%= tasting_action_buttons tasting %></td>
</tr>