<% provide(:title, t("tasting.show")) %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t("helpers.label.tasting.wine") %>:</b>
  <%= full_wine_name @tasting.wine, true %>
</p>

<p>
  <b><%= t("helpers.label.tasting.vintage") %>:</b>
  <%= @tasting.vintage %>
</p>

<p>
  <b><%= t("helpers.label.tasting.date") %>:</b>
  <%= @tasting.date %>
</p>

<p>
  <b><%= t("helpers.label.tasting.note") %>:</b>
  <%= @tasting.note %>/5
</p>

<p>
  <b><%= t("tasting.user") %>:</b>
  <%= @tasting.user.name %>
</p>
