<% provide(:title, t("tasting.show")) %>

<p id="notice">
  <%= notice %>
</p>

<div class="white-opacity rounded">
  <h1> <%= wine_name @tasting.wine, estate: true, area: true, html: true %> </h1>

  <dl class="dl-horizontal">
    <dt><%= t("helpers.label.tasting.vintage") %></dt>
    <dd><%= formated_vintage(@tasting.vintage, short = false) %></dd>
  
    <dt><%= t("helpers.label.tasting.date") %></dt>
    <dd><%= formated_date(@tasting.date) %></dd>
  
    <dt><%= t("helpers.label.tasting.note") %></dt>
    <dd><%= @tasting.note %>/5</dd>
  
    <dt><%= t("tasting.user") %>:</dt>
    <dd><%= @tasting.user.name %></dd>
  
    <% if @pairing %>
      <dt>Accord avec</dt>
      <dd><%= @pairing.dish %> <b>noté</b> <%= @pairing.note %>/5</dd>
    <% end %>
  </dl>
</div>
