<tr>
  <td>
  	<%= formated_date(consumption.date) %>
  </td>
  <td>
    <%= consumption.quantity %>
  </td>
  <td>
    <%= image_tag consumption.bottle.wine.labels.validated.first.image_url(:micro).to_s if consumption.bottle.wine.labels.validated.any? %>
  </td>
  <td>
  	<%= wine_name consumption.bottle.wine, estate: true, area: false, html: true %> 
  </td>
  <td>
  	<%= full_area_name consumption.bottle.wine.area, html: true %>
  </td>
  <td>
    <%= wine_icon consumption.bottle.wine %>
  </td>
  <td>
    <%= formated_vintage(consumption.bottle.vintage) %>
  </td>
  <td>
  	<%= t(consumption.reasons, scope: 'consumptions.reasons')%>
  </td>
  <td>
  	<%= consumption_action_buttons(consumption) %>
  </td>
</tr>