<h2><%= bottle_name @bottle %></h2>

<%= form_for(@consumption, html: { class:'form-horizontal'}) do |f| %>

<div class="row-fluid">
  <div class="span6">

    <%= f.hidden_field :bottle_id, value: @bottle.id %>

    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date, value: l(@consumption.date.nil? ? Date.today : @consumption.date), :locale => I18n.locale %>
      </div>
    </div>

    <div class="control-group">
      <% reasons = ['drinked', 'group', 'family_friend', 'gift', 'kitchen', 'corked', 'exchanged', 'sold'].map {|c| [t(c, scope: 'consumptions.reasons'), c]}%>
      <%= f.label :reasons, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag 'consumption[reasons]', options_for_select(reasons, selected: @consumption.reasons) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :comments, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :comments, rows: 4 %>
      </div>
    </div>

  </div>
  <div class="span6">
    <% if @new %>
      <h4><%= t('helpers.label.consumption.select_bottles') %></h4>
      <% @wine_racks.each do |rack| %>
        <% position = WineRackPosition.find(rack.position_id )%>
        <input type="checkbox" name="rack[<%= position.id %>]" <%= position.id == @position_id_to_check ? 'checked="checked"' : '' %>>
        <%= "#{rack.name} - #{position.coord}" %></input>
        <br />
      <% end %>
      <% @bottle.not_placed.times do |i| %>
        <input type="checkbox" name="unracked[<%= i %>]">
          <%= t('helpers.label.consumption.not_placed') %>
        </input>
        <br />
      <% end %>
      <br />
    <% end %>
    
    <% if flash[:alert] %>
      <div class="alert alert-error">
        <%= t(flash[:alert], scope: 'activerecord.errors.messages') %>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.submit class: "btn btn-primary" %>
      <div class="alert"><%= t('helpers.private') %></div>
    </div>
  </div>

</div>
<% end %>
