<dl class="dl-horizontal white-opacity rounded">
  <h1><%= t('consumptions.consumption') %></h1>
  <% if params[:new] %>
    <p class="well">
      La consommation de cette bouteille a été créée avec succès.<br />
      <%= link_to t("consumptions.new_tasting"), new_tasting_path(consumption: @consumption), class: 'btn btn-primary' %>
    </p>
  <% end %>
  
  <dt><%= t("helpers.label.consumption.bottle")%></dt>
  <dd><%= bottle_name @consumption.bottle, html: true %></dd>

  <dt><%= t("helpers.label.consumption.date")%></dt>
  <dd><%= formated_date(@consumption.date) %></dd>

  <dt><%= t("helpers.label.consumption.quantity")%></dt>
  <dd><%= @consumption.quantity %></dd>

  <dt><%= t("helpers.label.consumption.reasons")%></dt>
  <dd><%= t @consumption.reasons, scope: 'consumptions.reasons' %></dd>

  <dt><%= t("helpers.label.consumption.comments")%></dt>
  <dd><%= @consumption.comments.empty? ? '-' : @consumption.comments %></dd>
  
  <dt></dt>
  <dd><%= link_to t("consumptions.edit"), edit_consumption_path(@consumption), class: 'btn btn-primary' %></dd>
  
</dl>
