<% provide(:title, @country.name) %>

<p id="notice"><%= notice %></p>

<% if @country.has_image? %>
  <div class="row">
  	<div class="span7">
      <%= image_tag @country.image_url, alt: @country.name %><br />
      <%= link_to @country.image_source, @country.image_link, target: "blank" %>
    </div>
    <div class="span4">
<% end %>

<h2><%= link_to t("country.countries"), countries_path %> &gt; <%= @country.name %></h2>

<p>
  <% if @regions.any? %>
    <ul>
  	  <%= render @regions %>
    </ul>
  <% else %>
    <%= t("country.no_regions") %>
  <% end %>
</p>

<% if @country.has_image? %>
    </div>
  </div>
<% end %>