<% set_meta_tags :title => @country.name,
                 :description => t('country.regions', count: @regions.count) + " - " + @regions.take(5).map(&:name).join(', ') + '...' %>

<% if @country.has_image? %>
  <div class="row">
  	<div class="span7">
      <%= image_tag @country.image_url, alt: @country.name %><br />
      <%= link_to @country.image_source, @country.image_link, target: "blank" %>
    </div>
    <div class="span4">
<% end %>
  
<div class="white-opacity rounded">
  <h1><%= link_to t("country.countries"), countries_path %> &gt; <%= @country.name %></h1>
  
  <p>
    <% if @regions.any? %>
      <ul>
    	  <%= render @regions %>
      </ul>
    <% else %>
      <%= t("country.no_regions") %>
    <% end %>
  </p>
  
  <% if @country.has_image? %>
      </div>
    </div>
  <% end %>
</div>
