<% provide(:title, @country.name) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<% if @regions.any? %>
  <ul>
  	<%= render @regions %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
