<% provide(:title, @country.name) %>

<p id="notice"><%= notice %></p>

<h1><%= @country.name %></h1>

<% if @regions.any? %>
  <ul>
  	<%= render @regions %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back to all countries', countries_path %>
