<% provide(:title, @country.name) %>

<p id="notice"><%= notice %></p>

<% if @country.has_image? %>
  <div class="row">
  	<div class="span7">
      <%= image_tag @country.image_url, alt: @country.name %><br />
      <%= link_to @country.image_source, @country.image_link, target: "blank" %>
    </div>
    <div class="span3">
<% end %>

<h1><%= @country.name %></h1>

<p>
  <% if @regions.any? %>
    <ul>
  	  <%= render @regions %>
    </ul>
  <% else %>
    No regions yet for this country.
  <% end %>
</p>

<%= link_to 'Back to all countries', countries_path %>

<% if @country.has_image? %>
    </div>
  </div>
<% end %>