<% set_meta_tags :title => @country.name,
                 :description => t('country.regions', count: @regions.count) + " - " + @regions.take(5).map(&:name).join(', ') + '...' %>

<% if @country.has_image? %>
  <div class="row">
  	<div class="span7">
      <%= image_tag @country.image_url, alt: @country.name %><br />
      <%= link_to @country.image_source, @country.image_link, target: "blank" %>
    </div>
    <div class="span4">
<% end %>
  
<div class="white-opacity rounded">
  <h1><%= link_to t("country.countries"), countries_path %> &gt; <%= @country.name %></h1>
  
  <p>
    <% if @regions.any? %>
      <ul>
    	  <%= render @regions %>
      </ul>
    <% else %>
      <%= t("country.no_regions") %>
    <% end %>
  </p>
  
  <% if @country.has_image? %>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <br />
  
  <div class="white-opacity rounded">
    <% unless @country.comments.empty? %>
      <%= render :partial => 'comments/comment', :collection => @country.comments %><br />
    <% end %>
    <%= form_for Comment.new, url: comment_country_path(@country), html: { class:'form-horizontal row-fluid'} do |f| %>
      <%= f.text_area :comment, rows: 4, class: 'span12' %><br />
      <%= f.submit t('helpers.label.comment.create'), class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>