<% provide(:title, t("pairing.pairings")) %>

<div class="row-fluid white-opacity rounded-top">
  <h1><%= t('menu.discover.pairings') %></h1>
  
    <div class="span8">
    	<h3><%= @searched.nil? ? t("pairing.latest") : @searched %></h3>
    	<br/>
    	<table class="table table-condensed">
    	  <%= render @pairings %>
    	</table>
    	<% unless @best_matches.nil? or @best_matches.empty? %>
    	<br />
        <h3><%= t('pairing.best_matches') %></h3>
        <br/>
        <table class="table table-condensed">
          <% @best_matches.each do |m| %>
          <tr>
            <td><%= wine_color_image m[:wine] %></td><td><%= wine_name m[:wine], estate: true, area: true, separator: '</td><td>' %></td>
          <% end %>
          </tr>
        </table>
    	<% end %>
    </div>
    <div class="span3">
    	<br/></br/>
    	<%= form_tag search_pairings_path, method: 'get' do %>
    	  <input id="q" name="q" type="text" value="<%= @searched %>" data-provide="typeahead" data-items="10" data-source='<%= raw dishes_array %>' autocomplete='off' />
    	  <%= submit_tag t('pairing.search'), class: "btn btn-primary" %>
    	<% end %>
    </div>
</div>