<div class="white-opacity rounded">
  
  <h2>Image</h2>
  <%= form_for(@region, html: { class:'form-inline'}) do |f| %>
    <%= f.text_field :image_url, :value => @region.image_url.blank? ? 'URL' : @region.image_url %>
    <%= f.text_field :image_source, :value => @region.image_source.blank? ? 'source' : @region.image_source %>
    <%= f.text_field :image_link, :value => @region.image_link.blank? ? 'link' : @region.image_link %>
    <%= f.number_field :image_span, :value => @region.image_span %>
    <%= f.number_field :image_right_column_length, :value => @region.image_right_column_length %>
      <%= f.submit class: "btn btn-primary" %>
  <% end %>
  
  <h2>Superficies</h2>
  <% superficies = @region.superficies + [Superficy.new] %>
  <% superficies.each do |superficy| %>
    <%= form_for(superficy, html: { class:'form-inline'}) do |f| %>
      <%= f.hidden_field :region_id, :value => @region.id %>
      <%= f.text_field :year, :value => superficy.year.blank? ? 'Année(s)' : superficy.year %>
      <%= f.number_field :superficy, :value => superficy.superficy.blank? ? 'Superficie (ha)' : superficy.superficy %>
      <%= f.text_field :source, :value => superficy.source.blank? ? 'Source' : superficy.source %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  <% end %>
  
  <br /><br />
  
  <h2>Volumes</h2>
  <% volumes = @region.volumes + [Volume.new] %>
  <% volumes.each do |volume| %>
    <%= form_for(volume, html: { class:'form-inline'}) do |f| %>
      <%= f.hidden_field :region_id, :value => @region.id %>
      <%= f.text_field :year, :value => volume.year.blank? ? 'Année(s)' : volume.year %>
      <%= f.number_field :volume, :value => volume.volume.blank? ? 'Volume (hl)' : volume.volume %>
      <%= f.text_field :source, :value => volume.source.blank? ? 'Source' : volume.source %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <br />
  <% colorVolumes = @region.color_volumes + [ColorVolume.new] %>
  <% colorVolumes.each do |colorVolume| %>
    <%= form_for(colorVolume, html: { class:'form-inline'}) do |f| %>
      <%= f.hidden_field :region_id, :value => @region.id %>
      <%= f.text_field :year, :value => colorVolume.year.blank? ? 'Année(s)' : colorVolume.year %>
      <%= f.select :color, options_for_select(Wine::COLORS.map {|c| [t("wine.color.#{c}"), c]}, :selected => colorVolume.color) %>
      <%= f.number_field :volume, :value => colorVolume.volume.blank? ? 'Volume (%)' : colorVolume.volume %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  <% end %>
  
  
</div>
