<% set_meta_tags :title => @region.country.name + " > " + @region.name,
                 :description => t('home.discover.areas.title_areas', count: @areas.count) + " - " + @areas.take(5).map(&:name).join(', ') + '...' %>

<div class="white-opacity rounded">
  <h1><%= link_to t("country.countries"), countries_path %> &gt; <%= link_to @region.country.name, @region.country %> &gt; <%= @region.name %></h1>
  
  <% if @areas.any? %>
    <% per_column = (@areas.size/3.0).ceil %>
    <% first = @areas.take(per_column) %>
    <% second = (@areas-first).take(per_column) %>
    <% third = (@areas-first-second).take(per_column) %>
    <div class="row-fluid">
      <div class="span4">
        <ul>
        	<%= render first %>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <%= render second %>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <%= render third %>
        </ul>
      </div>
    </div>
  <% else %>
    <%= t("region.no_areas") %>
  <% end %>
  
  <br /><br />
  
  <% sources = [nil] %>
  <% unless @region.superficies.empty? and @region.volumes.empty? %>
    <div class="row-fluid">
      <% unless @region.superficies.empty? %>
        <div class="span4">
          <h4><%= t('region.superficy') %></h4>
          <dl class="dl-horizontal">
            <% @region.superficies.each do |superficy| %>
              <% sources << superficy.source unless superficy.source.blank? or sources.include? superficy.source %>
              <dt><%= superficy.year %></dt>
              <dd><%= number_with_delimiter(superficy.superficy, :delimiter => ' ') %> ha <%= link_to "[#{sources.index(superficy.source)}]", superficy.source unless superficy.source.blank? %></dd>
            <% end %>
          </dl>
        </div>
      <% end %>
      <% unless @region.volumes.empty? %>
        <div class="span8">
          <h4><%= t('region.volume') %></h4>
          <br />
          <%=raw '<div class="row-fluid">' unless @color_volumes.empty? %>
          <% id = 0 %>
          <% @region.volumes.each do |volume| %>
            <% id +=1 %>
            <% sources << volume.source unless volume.source.blank? or sources.include? volume.source %>
            <%=raw '<div class="span6">' if @color_volumes.has_key? volume.year %>
            <strong><%= volume.year %></strong> <%= number_with_delimiter(volume.volume, :delimiter => ' ') %> hl <%= link_to "[#{sources.index(volume.source)}]", volume.source unless volume.source.blank? %>
            <% if @color_volumes.has_key? volume.year %>
              <% color_volume = @color_volumes[volume.year] %>
              <% color_volume.each do |hash| %>
                <% hash[:name] = t("wine.color.#{hash[:name]}") %>
              <% end %>
              <div class="pie" id="pie<%= id %>" data-json="<%= color_volume.to_json %>" style="height: 300px">
                <svg id="pie<%= id %>"></svg>
              </div>
            <% end %>
            <%=raw '</div>' if @color_volumes.has_key? volume.year %>
          <% end %>
          <%=raw '</div>' unless @color_volumes.empty? %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% if sources.size > 1 %>
    <% sources.delete_at(0) %>
    <% index = 1 %>
    <div class="row-fluid">
      <h4><%= t('region.sources') %></h4>
      <% sources.each do |source| %>
        <%= link_to "[#{index}] #{source}", source %><br />
        <% index += 1 %>
      <% end %>
    </div>
  <% end %>
  
</div>
