<% provide(:title, @region.name) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @region.name %>
</p>

<p>
  <b>Country:</b>
  <%= @region.country.name %>
</p>

<% if @areas.any? %>
  <ul>
  	<%= render @areas %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
