<% provide(:title, @region.country.name + " > " + @region.name) %>

<div class="white-opacity rounded">
  <h1><%= link_to t("country.countries"), countries_path %> &gt; <%= link_to @region.country.name, @region.country %> &gt; <%= @region.name %></h1>
  
  <% if @areas.any? %>
    <% per_column = (@areas.size/3.0).ceil %>
    <% first = @areas.take(per_column) %>
    <% second = (@areas-first).take(per_column) %>
    <% third = (@areas-first-second).take(per_column) %>
    <div class="row-fluid">
      <div class="span4">
        <ul>
        	<%= render first %>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <%= render second %>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <%= render third %>
        </ul>
      </div>
    </div>
  <% else %>
    <%= t("region.no_areas") %>
  <% end %>
</div>
