<% provide(:title, @region.name) %>

<p id="notice"><%= notice %></p>

<h1><%= @region.name %></h1>

<p>
  <%= link_to @region.country.name, @region.country %>
</p>

<% if @areas.any? %>
  <ul>
  	<%= render @areas %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
