<script type="text/javascript">
    $(document).ready(function(){
        $("select#region_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#wine_area_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("select#wine_area_id");
            }
            else {
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/areas/for_region_id/' + id_value_string,
                    timeout: 2000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select
                        $("select#wine_area_id option").remove();
                        //put in a empty default line
                        var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                        $(row).appendTo("select#wine_area_id");                        
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.id + "\">" + j.name + "</option>";  
                            $(row).appendTo("select#wine_area_id");                    
                        });            
                     }
                });
            };
                });
    });
</script>

<h2><%= @estate_name %></h2>
<div class="row">
  <div class="span6 offset3">
  	<%= form_for(@wine, html: { class:'form-horizontal'}) do |f| %>

	  <%= f.hidden_field :estate_id, value: @estate_id %>
	
	  <div class="control-group">
	    <%= f.label :name, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :name %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :area, :class => 'control-label' %>
	    <div class="controls">
	      <%= grouped_collection_select :region, :id, @countries, :regions, :name, :id, :name, options = { prompt: t('helpers.label.wine.select_country_and_region')} %>
          <%= collection_select :wine, :area_id, @areas, :id, :name, options = { prompt: t('helpers.label.wine.select_area')} %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :wine_color, :class => 'control-label' %>
	    <div class="controls">
	      <%= select_tag 'wine[wine_color]', options_for_select(Wine::COLORS.map {|c| [t("wine.color.#{c}"), c]}, :selected => @wine.wine_color), options = { prompt: ''} %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <%= f.label :info, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_area :info, rows: 3 %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <div class="controls">
	    <%= f.submit class: "btn btn-primary" %>
	    </div>
	  </div>
	<% end %>
  </div>
</div>