<% grape_variety_input = '<input name="wine_grape_varieties[]" id="grape_varieties" type="text" value="" autocomplete="off" />' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("a#add_grape_variety").click(function() {
      $(this).parent().append('<%= raw(grape_variety_input) %>');
      $("input#grape_varieties").typeahead({source: <%= raw(GrapeVariety.all.map {|gv| gv.name}) %>});
    });
    $("a#add_grape_variety").click();
  });
</script>

<h2><%= @estate_name %></h2>
<div class="row">
  <div class="span6 offset3">
  	<%= form_for(@wine, html: { class:'form-horizontal'}) do |f| %>

	  <%= f.hidden_field :estate_id, value: @estate_id %>
	
	  <div class="control-group">
	    <%= f.label :name, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :name %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :area, :class => 'control-label' %>
	    <div class="controls">
	      <%= grouped_collection_select :region, :id, @countries, :regions, :name, :id, :name, options = { prompt: t('helpers.label.wine.select_country_and_region')} %>
	      <%= f.select :area_id, options_for_select(@areas.map{|a| [a.name, a.id]}, :selected => @wine.area_id), options = { prompt: t('helpers.label.wine.select_area') } %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :wine_color, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.select :wine_color, options_for_select(Wine::COLORS.map {|c| [t("wine.color.#{c}"), c]}, :selected => @wine.wine_color), options = { prompt: ''} %>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <%= f.label :grape_varieties, :class => 'control-label' %>
	    <div class="controls">
        <a class="btn btn-primary" id="add_grape_variety" href="#">+</a><br />
        <% @wine.grape_varieties.each do |gv| %>
          <%= raw(grape_variety_input.gsub /value=""/, 'value="' + gv.name + '"') %>
        <% end %>
	    </div>
	  </div>
	
	  <div class="control-group">
        <%= f.label :info, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_area :info, rows: 3 %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <div class="controls">
	    <%= f.submit class: "btn btn-primary" %>
	    </div>
	  </div>
	<% end %>
  </div>
</div>