<script type="text/javascript">
    $(document).ready(function(){
        $("select#region_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#wine_area_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("select#wine_area_id");
            }
            else {
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/areas/for_region_id/' + id_value_string,
                    timeout: 2000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select
                        $("select#wine_area_id option").remove();
                        //put in a empty default line
                        var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                        $(row).appendTo("select#wine_area_id");                        
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.id + "\">" + j.name + "</option>";  
                            $(row).appendTo("select#wine_area_id");                    
                        });            
                     }
                });
            };
                });
    });
</script>

<div class="row">
  <div class="span6 offset3">
  	<%= form_for(@wine) do |f| %>
	  <% if @wine.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>
	
	      <ul>
	      <% @wine.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <%= f.label :estate %>
	  <%= f.hidden_field :estate_id, value: @estate_id %>
	  <%= f.text_field :estate_name, value: @estate_name, disabled: true %>
	
	  <%= f.label :name %>
	  <%= f.text_field :name %>

	  <%= f.label :area %>
	  <%= grouped_collection_select :region, :id, @countries, :regions, :name, :id, :name, options = { prompt: t('helpers.label.wine.select_country_and_region')} %>
      <%= collection_select :wine, :area_id, @areas, :id, :name, options = { prompt: t('helpers.label.wine.select_area')} %>

	  <%= f.label :wine_color %>
	  <%= select_tag 'wine[wine_color]', options_for_select(Wine::COLORS.map {|c| [t("wine.color.#{c}"), c]}, :selected => @wine.wine_color), options = { prompt: ''} %>

	  <%= f.label :info %>
	  <%= f.text_area :info %>

	  <%= f.submit class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>