<div clas="row">
  <div class="span8">
  	<h3><%= @searched.nil? ? t("wine.random") : t("wine.matching") %></h3>
  	<br/>
	<table class="table table-striped table-condensed">
	  <% @wines.each do |wine| %>
	    <%= wine_name wine, color:true, estate:true, area: true, html: true, links: true %>
	  <% end %>
	</table>
  </div>
  <div class="span3">
  	<br/></br/>
  	<%= form_tag search_wines_path, method: 'get' do %>
  	  <%= text_field_tag :q, @searched %>
  	  <%= submit_tag t("wine.search"), class: "btn btn-primary" %>
  	<% end %>
	<% if can? :create, Wine %>
	  <%= link_to t("wine.suggest"), new_wine_path %>
    <% end %>
  </div>
</div>