<div clas="row">
  <div class="span8">
  	<% if @searched.nil? %>
  	  <h3><%= t("wine.random") %></h3>
  	<% else %>
  	  <h3><%= t("wine.matching") %></h3>
  	<% end %>
	<ul>
	  <%= render partial: @wines, locals: {with_estate: true} %>
	</ul>
  </div>
  <div class="span3">
  	<%= form_tag search_wines_path, method: 'get' do %>
  	  <%= text_field_tag :q, @searched %>
  	  <%= submit_tag t("wine.search"), class: "btn btn-large btn-primary" %>
  	<% end %>
	<% if can? :create, Wine %>
	  <%= link_to t("wine.suggest"), new_wine_path %>
    <% end %>
  </div>
</div>