<div class="white-opacity rounded">
  <table class="table table-condensed table-striped">
    <% @wines.each do |wine, notes| %>
    <tr>
      <td><%= wine_color_image wine %></td>
      <td><%= wine_name wine, estate: true, area: true, html: true %></td>
      <td><%= notes.sum.to_f / notes.size %></td>
      <td>
        <a href='<%= tastings_wine_path(wine) %>' data-toggle='tooltip' title='<%= t('icon.wine_tastings') %>'>
          <%= notes.size %> dégustations
        </a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
