<% provide(:title, wine_name(@wine, estate:true, area:true)) %>

<div class="white-opacity rounded">

<h1><%= wine_name(@wine, estate: true, area: true) %></h1>

<div class="row-fluid">
  <div class="span6">
	<p>
	  <b><%= link_to @wine.estate.name, @wine.estate %></b><br />
    <%= raw "#{@wine.estate.address}<br />" unless @wine.estate.address.empty? %>
    <%= raw "#{@wine.estate.zip_code} #{@wine.estate.town}<br />" unless @wine.estate.zip_code.empty? and @wine.estate.town.empty? %>
    <%= raw "#{@wine.estate.country}<br />" unless @wine.estate.country.empty? %>
    <%= raw "<i class=\"icon-headphones\"></i>  #{@wine.estate.phone}<br />" unless @wine.estate.phone.empty? %>
    <%= raw "<i class=\"icon-print\"></i> #{@wine.estate.fax}<br />" unless @wine.estate.fax.empty? %>
    <%= raw "<i class=\"icon-envelope\"></i>  #{mail_to(@wine.estate.email)}<br />" unless @wine.estate.email.empty? %>
    <%= raw "<i class=\"icon-home\"></i> #{link_to(@wine.estate.www, @wine.estate.www, target: '_blank')}" unless @wine.estate.www.empty? %>
	</p>
	
	<p>
	  <b><%= t("helpers.label.estate.owner") %>:</b>
	  <%= @wine.estate.owner %>
	</p>
	
	<p>
	  <b><%= t("estate.status") %>:</b>
	  <% if @wine.estate.validated? %>
	    <i class="icon-ok-sign"></i> <%= t("estate.validated") %>
	  <% else %>
	    <i class="icon-question-sign"></i> <%= t("estate.not_validated") %>
	  <% end %>
	</p>
	
	<p>
	  <b><%= t("estate.user") %>:</b>
	  <%= @wine.estate.user.name %>
	</p>
	
	<p>
	  <%= estate_action_buttons @wine.estate %>
	</p>
  </div>
  
  <div class="span6">
    <b><%= @wine.name %></b><br />
    <% if @wine.labels.validated.any? %>
      <p>
        <% @wine.labels.validated.each do |label| %>
          <%= image_tag label.image_url(:small).to_s, style: 'border: 1px solid;' %>
        <% end %>
      </p>
    <% end %>
    
    <p>
      <%= full_area_name @wine.area, html: true %>
    </p>

    <p>
      <%= wine_color_image(@wine) %>
      <%= t("wine.color." + @wine.wine_color) %>
    </p>

    <% unless @wine.grape_varieties.blank? %>
      <p>
        <b><%= t("helpers.label.wine.grape_varieties") %>:</b>
        <%= @wine.grape_varieties.map(&:name).join(', ') %>
      </p>
    <% end %>

    <% unless @wine.info.blank? %>
      <blockquote>
        <%= simple_format @wine.info %>
      </blockquote>
    <% end %>
	
	<p>
	  <%= render 'tutorial/validation' %>
	  <b><%= t("wine.status") %>:</b>
	  <% if @wine.validated? %>
	    <i class="icon-ok-sign"></i> <%= t("wine.validated") %>
	  <% else %>
	    <i class="icon-question-sign"></i> <%= t("wine.not_validated") %>
	  <% end %>
	</p>

    <p>
      <b><%= t("wine.user") %>:</b>
      <%= @wine.user.name %>
    </p>
    
    <p>
      <%= wine_action_buttons(@wine) %>
    </p>
    
    <br/></br/>
    
    <% unless @wine.tastings.empty? %>
    <p>
      <%= link_to t("wine.tastings", :count => @wine.tastings.count), tastings_path(:wine => @wine) %>
    </p>
    <% end %>
    
    <% unless @wine.recommandations.empty? %>
    <p>
      <% if @wine.recommanded_by?(current_user) %>
        <%= link_to t("wine.recommandations.you", :count => (@wine.recommandations.count - 1)), wine_recommandations_path(:wine => @wine) %>
      <% else %>
        <%= link_to t("wine.recommandations.others", :count => @wine.recommandations.count), wine_recommandations_path(:wine => @wine) %>
      <% end %>
    </p>
    <% end %>
  </div>
</div>