<% provide(:title, wine_name(@wine, estate:true, area:true)) %>

<p id="notice"><%= notice %></p>

<h2><%= wine_name(@wine) %></h2>

<div class="row">
  <div class="span6">
	<p>
	  <b><%= link_to @wine.estate.name, @wine.estate %></b><br />
	  <%= @wine.estate.address %><br />
	  <%= @wine.estate.zip_code %> <%= @wine.estate.town %><br />
	  <%= @wine.estate.country %><br />
	  <i class="icon-headphones"></i>  <%= @wine.estate.phone %><br />
	  <i class="icon-print"></i>  <%= @wine.estate.fax %><br />
	  <i class="icon-envelope"></i>  <%= mail_to @wine.estate.email %><br />
	  <i class="icon-home"></i>  <%= link_to @wine.estate.www, @wine.estate.www, target: '_blank' %>
	</p>
	
	<p>
	  <b><%= t("helpers.label.estate.owner") %>:</b>
	  <%= @wine.estate.owner %>
	</p>
	
	<p>
	  <b><%= t("estate.status") %>:</b>
	  <% if @wine.estate.validated? %>
	    <i class="icon-ok-sign"></i> <%= t("estate.validated") %>
	  <% else %>
	    <i class="icon-question-sign"></i> <%= t("estate.not_validated") %>
	  <% end %>
	</p>
	
	<p>
	  <b><%= t("estate.user") %>:</b>
	  <%= @wine.estate.user.name %>
	</p>
	
	<p>
	  <%= estate_action_button @wine.estate %>
	</p>
  </div>
  
  <div class="span6">
    <p>
      <%= full_area_name @wine.area, html: true %>
    </p>

    <p>
      <%= wine_color_image(@wine) %>
      <%= t("wine.color." + @wine.wine_color) %>
    </p>

    <% if !@wine.info.blank? %>
      <blockquote>
        <%= simple_format @wine.info %>
      </blockquote>
    <% end %>
	
	<p>
	  <b><%= t("wine.status") %>:</b>
	  <% if @wine.validated? %>
	    <i class="icon-ok-sign"></i> <%= t("wine.validated") %>
	  <% else %>
	    <i class="icon-question-sign"></i> <%= t("wine.not_validated") %>
	  <% end %>
	</p>

    <p>
      <b><%= t("wine.user") %>:</b>
      <%= @wine.user.name %>
    </p>
    
    <p>
      <%= wine_action_button(@wine) %>
    </p>
    
    <br/></br/>
    
    <% unless @wine.tastings.empty? %>
    <p>
      <%= link_to t("wine.tastings", :count => @wine.tastings.count), tastings_path(:wine => @wine) %>
    </p>
    <% end %>
    
    <% unless @wine.recommandations.empty? %>
    <p>
      <% if @wine.recommanded_by?(current_user) %>
        <%= link_to t("wine.recommandations.you", :count => (@wine.recommandations.count - 1)), wine_recommandations_path(:wine => @wine) %>
      <% else %>
        <%= link_to t("wine.recommandations.others", :count => @wine.recommandations.count), wine_recommandations_path(:wine => @wine) %>
      <% end %>
    </p>
    <% end %>
  </div>
</div>