<% provide(:title, wine_name(@wine, estate:true, area:true)) %>

<p id="notice"><%= notice %></p>

<h2><%= wine_name(@wine) %></h2>

<div class="row">
  <div class="span6">
	<p>
	  <b><%= link_to @wine.estate.name, @wine.estate %></b><br />
	  <%= @wine.estate.address %><br />
	  <%= @wine.estate.zip_code %> <%= @wine.estate.town %><br />
	  <%= @wine.estate.country %><br />
	  <i class="icon-headphones"></i>  <%= @wine.estate.phone %><br />
	  <i class="icon-print"></i>  <%= @wine.estate.fax %><br />
	  <i class="icon-envelope"></i>  <%= mail_to @wine.estate.email %><br />
	  <i class="icon-home"></i>  <%= link_to @wine.estate.www, @wine.estate.www, target: '_blank' %>
	</p>
	
	<p>
	  <b><%= t("helpers.label.estate.owner") %>:</b>
	  <%= @wine.estate.owner %>
	</p>
	
	<p>
	  <b><%= t("estate.status") %>:</b>
	  <% if @wine.estate.validated? %>
	    <i class="icon-ok-sign"></i> <%= t("estate.validated") %>
	  <% else %>
	    <i class="icon-question-sign"></i> <%= t("estate.not_validated") %>
	  <% end %>
	</p>
	
	<p>
	  <b><%= t("estate.user") %>:</b>
	  <%= @wine.estate.user.name %>
	</p>

  <% if can? :manage, @wine.estate %>
    <p>
      <b><%= t("estate.moderation") %>:</b>
      <%= link_to_edit(edit_estate_path(@wine.estate)) %>
      <%= link_to_destroy @wine.estate %>
      <% if @wine.estate.validated? %>
        <%= link_to_unvalidate unvalidate_estate_path(@wine.estate) %>
      <% else %>
        <%= link_to_validate validate_estate_path(@wine.estate) %>
      <% end %>
    </p>
  <% end %>
  </div>
  <div class="span6">
    <p>
      <%= full_area_name @wine.area %>
    </p>

    <p>
      <%= @wine.wine_color.name.capitalize %>
    </p>

    <% if !@wine.info.blank? %>
      <blockquote>
        <%= simple_format @wine.info %>
      </blockquote>
    <% end %>
	
	<p>
	  <b><%= t("wine.status") %>:</b>
	  <% if @wine.validated? %>
	    <i class="icon-ok-sign"></i> <%= t("wine.validated") %>
	  <% else %>
	    <i class="icon-question-sign"></i> <%= t("wine.not_validated") %>
	  <% end %>
	</p>

    <p>
      <b><%= t("wine.user") %>:</b>
      <%= @wine.user.name %>
    </p>

  <% if can? :manage, @wine %>
    <p>
      <b><%= t("wine.moderation") %>:</b>
      <%= link_to_edit(edit_wine_path(@wine)) %>
      <%= link_to_destroy @wine %>
      <% if @wine.validated? %>
        <%= link_to_unvalidate unvalidate_wine_path(@wine) %>
      <% else %>
        <%= link_to_validate validate_wine_path(@wine) %>
      <% end %>
    </p>
  <% end %>
</div>