<% if user_signed_in? %>
  <li id="fat-menu" class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  	  <%= t "menu.discover.title" %><b class="caret"></b>
  	</a>
  	<ul class="dropdown-menu">
  	  <li><%= link_to raw('<i class="icon-globe"></i> ') + t("menu.discover.countries_regions_areas"), countries_path %></li>
      <li><%= link_to raw('<i class="icon-leaf"></i> ') + t("menu.discover.grape_varieties"), grape_varieties_path %></li>
      <li><%= link_to raw('<i class="icon-calendar"></i> ') + t("menu.discover.vintages"), vintages_path %></li>
      <li><%= link_to raw('<i class="icon-temperature"></i> ') + t("menu.discover.temperature"), temperature_path %></li>
  	  <li><%= link_to raw('<i class="icon-list"></i> ') + t("menu.discover.wines_estates"), wines_and_estates_path %></li>
  	  <li><%= link_to raw('<i class="icon-thumbs-up"></i> ') + t("menu.discover.recommmandations"), recommanded_wines_path %></li>
  	  <li><%= link_to raw('<i class="icon-tastings"></i> ') + t("menu.discover.latest_tastings"), tastings_path %></li>
  	  <li><%= link_to raw('<i class="icon-random"></i> ') + t("menu.discover.pairings"), pairings_path %></li>
      <li><%= link_to raw('<i class="icon-book"></i> ') + t("menu.discover.glossaries"), glossaries_path %></li>
    </ul>
  </li>
<% end %>
