<% if user_signed_in? %>
  <li id="fat-menu" class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  	  <%= t "menu.discover.title" %><b class="caret"></b>
  	</a>
  	<ul class="dropdown-menu">
  	  <li><%= link_to raw('<i class="icon-globe"></i> ') + t("menu.discover.countries_regions_areas"), countries_path %></li>
  	  <li><%= link_to raw('<i class="icon-list"></i> ') + t("menu.discover.wines_estates"), wines_and_estates_path %></li>
  	  <li><%= link_to raw('<i class="icon-heart"></i> ') + t("menu.discover.latest_recommandations"), wine_recommandations_path %></li>
  	  <li><%= link_to raw('<i class="icon-thumbs-up"></i> ') + t("menu.discover.recommmandations_me"), most_wine_recommandations_path %></li>
  	  <li><%= link_to raw('<i class="icon-glass"></i> ') + t("menu.discover.latest_tastings"), tastings_path %></li>
  	  <li><%= link_to raw('<i class="icon-random"></i> ') + t("menu.discover.pairings"), pairings_path %></li>
    </ul>
  </li>
<% else %>
  <li><%= link_to t("menu.discover.title"), discover_path %></li>
<% end %>
