<% if user_signed_in? %>
  <li class="dropdown">
  	<a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= t('menu.search.title') %> <b class="caret"></b></a>
  	<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
      <form action="<%= bottles_path %>" method="get" class="span3">
      	<select name="search_attribute">
      	  <option value="wine"><%= t('menu.search.estate_wine') %></option>
          <option value="area"><%= t('menu.search.area') %></option>
          <option value="comments"><%= t('menu.search.comments') %></option>
      	</select>
        <input type="text" placeholder="<%= t('menu.search.my_bottles') %>" name="search_value" class="span3" />
      </form>
    </div>
  </li>
<% end %>
