<% if user_signed_in? %>
  <li id="fat-menu" class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  	  <%= t("menu.share.title") %><b class="caret"></b>
  	</a>
  	<ul class="dropdown-menu">
      <li><%= link_to raw('<i class="icon-user"></i> ') + t("menu.share.users"), users_path %></li>
      <li><%= link_to raw('<i class="icon-friends"></i> ') + t("menu.share.friends"), friends_user_path(current_user) %></li>
      <li class="divider"></li>
  	  <li><%= link_to raw('<i class="icon-share"></i> ') + t("menu.share.new_wine"), new_wine_path %></li>
  	  <li><%= link_to raw('<i class="icon-glass"></i> ') + t("menu.share.taste"), new_tasting_path %></li>
    </ul>
  </li>
<% end %>
