<% if user_signed_in? %>
  <li id="fat-menu" class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  	  <%= t("menu.track.title") %><b class="caret"></b>
  	</a>
  	<ul class="dropdown-menu">
  	  <li><%= link_to raw('<i class="icon-list"></i> ') + t("menu.track.my_bottles"), bottles_path %></li>
  	  <li><%= link_to raw('<i class="icon-th"></i> ') + t("menu.track.my_racks"), wine_racks_path %></li>
      <li><%= link_to raw('<i class="icon-tasks"></i> ') + t("menu.track.stat"), stat_user_path(current_user) %></li>
      <li><%= link_to raw('<i class="icon-shopping-cart"></i> ') + t("menu.track.new_bottle"), new_bottle_path %></li>
      <li><%= link_to raw('<i class="icon-glass"></i> ') + t("menu.track.my_tastings"), me_tastings_path %></li>
  	  <li><%= link_to raw('<i class="icon-hand-down"></i> ') + t("menu.track.my_consumptions"), consumptions_path %></li>
    </ul>
  </li>
<% end %>
