<!DOCTYPE html>
<html>
<head>
  <title>VinoSocialis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  	  <div class="container">
  	  	<%= link_to "Vino Socialis", root_path, id: "logo" %>
  	  	<nav>
  	      <ul class="nav pull-left">
  	      	<%= render 'layouts/discover' %>
  	      	<li><%= link_to "Track", track_path %></li>
  	      	<li><%= link_to "Share", share_path %></li>
  	      </ul>
  	      <ul class="nav pull-right">
  	      	<li><%= link_to "About", about_path %></li>
  	      	<% if user_signed_in? %>
  	      	  <li id="fat-menu" class="dropdown">
  	      	  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  	      	  	  <%= current_user.name %><b class="caret"></b>
  	      	  	</a>
  	      	  	<ul class="dropdown-menu">
  	      	  	  <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  	      	      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  	      	  	</ul>
  	      	  </li>
  	      	<% else %>
  	      	  <li><%= link_to "Sign up", new_user_registration_path %></li>
  	      	  <li><%= link_to "Sign in", new_user_session_path %></li>
  	      	<% end %>
  	      </ul>
  	  	</nav>
  	  </div>
  	</div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
