<!DOCTYPE html>
<html>
<head>
  <title><%= title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "lavish", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  	  <div class="container">
  	  	<%= link_to site_name, root_path, id: "logo" %>
  	  	<nav>
  	      <ul class="nav pull-left">
  	      	<%= render 'layouts/discover' %>
  	      	<%= render 'layouts/track' %>
  	      	<%= render 'layouts/share' %>
  	      </ul>
  	      <ul class="nav pull-right">
  	      	<%= render 'layouts/search' %>
  	      	<li><%= link_to t("menu.about.title"), about_path %></li>
  	      	<%= render 'layouts/profile' %>
  	      </ul>
  	  	</nav>
  	  </div>
  	</div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
